@charset "UTF-8";

@font-face {
  font-family: "fontastic";
  src:url("../fonts/fontastic-font-3.eot");
  src:url("../fonts/fontastic-font-3.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fontastic-font-3.woff") format("woff"),
    url("../fonts/fontastic-font-3.ttf") format("truetype"),
    url("../fonts/fontastic-font-3.svg#fontastic-font-3") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fontastic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontastic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address-book:before {
  content: "\61";
}
.icon-alert:before {
  content: "\62";
}
.icon-align-center:before {
  content: "\63";
}
.icon-align-justify:before {
  content: "\64";
}
.icon-align-left:before {
  content: "\65";
}
.icon-align-right:before {
  content: "\66";
}
.icon-anchor:before {
  content: "\67";
}
.icon-annotate:before {
  content: "\68";
}
.icon-arrow-down:before {
  content: "\69";
}
.icon-arrow-left:before {
  content: "\6a";
}
.icon-arrow-right:before {
  content: "\6b";
}
.icon-arrow-up:before {
  content: "\6c";
}
.icon-arrows-compress:before {
  content: "\6d";
}
.icon-arrows-expand:before {
  content: "\6e";
}
.icon-arrows-in:before {
  content: "\6f";
}
.icon-arrows-out:before {
  content: "\70";
}
.icon-asl:before {
  content: "\71";
}
.icon-asterisk:before {
  content: "\72";
}
.icon-at-sign:before {
  content: "\73";
}
.icon-background-color:before {
  content: "\74";
}
.icon-battery-empty:before {
  content: "\75";
}
.icon-battery-full:before {
  content: "\76";
}
.icon-battery-half:before {
  content: "\77";
}
.icon-bitcoin:before {
  content: "\78";
}
.icon-bitcoin-circle:before {
  content: "\79";
}
.icon-blind:before {
  content: "\7a";
}
.icon-bluetooth:before {
  content: "\41";
}
.icon-bold:before {
  content: "\42";
}
.icon-book:before {
  content: "\43";
}
.icon-book-bookmark:before {
  content: "\44";
}
.icon-bookmark:before {
  content: "\45";
}
.icon-braille:before {
  content: "\46";
}
.icon-burst:before {
  content: "\47";
}
.icon-burst-new:before {
  content: "\48";
}
.icon-burst-sale:before {
  content: "\49";
}
.icon-calendar:before {
  content: "\4a";
}
.icon-camera:before {
  content: "\4b";
}
.icon-check:before {
  content: "\4c";
}
.icon-checkbox:before {
  content: "\4d";
}
.icon-clipboard:before {
  content: "\4e";
}
.icon-clipboard-notes:before {
  content: "\4f";
}
.icon-clipboard-pencil:before {
  content: "\50";
}
.icon-clock:before {
  content: "\51";
}
.icon-closed-caption:before {
  content: "\52";
}
.icon-cloud:before {
  content: "\53";
}
.icon-comment:before {
  content: "\54";
}
.icon-comment-minus:before {
  content: "\55";
}
.icon-comment-quotes:before {
  content: "\56";
}
.icon-comment-video:before {
  content: "\57";
}
.icon-comments:before {
  content: "\58";
}
.icon-compass:before {
  content: "\59";
}
.icon-contrast:before {
  content: "\5a";
}
.icon-credit-card:before {
  content: "\30";
}
.icon-crop:before {
  content: "\31";
}
.icon-crown:before {
  content: "\32";
}
.icon-css3:before {
  content: "\33";
}
.icon-database:before {
  content: "\34";
}
.icon-die-five:before {
  content: "\35";
}
.icon-die-four:before {
  content: "\36";
}
.icon-die-one:before {
  content: "\37";
}
.icon-die-six:before {
  content: "\38";
}
.icon-die-three:before {
  content: "\39";
}
.icon-die-two:before {
  content: "\21";
}
.icon-dislike:before {
  content: "\22";
}
.icon-dollar:before {
  content: "\23";
}
.icon-dollar-bill:before {
  content: "\24";
}
.icon-download:before {
  content: "\25";
}
.icon-eject:before {
  content: "\26";
}
.icon-elevator:before {
  content: "\27";
}
.icon-euro:before {
  content: "\28";
}
.icon-eye:before {
  content: "\29";
}
.icon-fast-forward:before {
  content: "\2a";
}
.icon-female:before {
  content: "\2b";
}
.icon-female-symbol:before {
  content: "\2c";
}
.icon-filter:before {
  content: "\2d";
}
.icon-first-aid:before {
  content: "\2e";
}
.icon-flag:before {
  content: "\2f";
}
.icon-folder:before {
  content: "\3a";
}
.icon-folder-add:before {
  content: "\3b";
}
.icon-folder-lock:before {
  content: "\3c";
}
.icon-foot:before {
  content: "\3d";
}
.icon-foundation:before {
  content: "\3e";
}
.icon-graph-bar:before {
  content: "\3f";
}
.icon-graph-horizontal:before {
  content: "\40";
}
.icon-graph-pie:before {
  content: "\5b";
}
.icon-graph-trend:before {
  content: "\5d";
}
.icon-guide-dog:before {
  content: "\5e";
}
.icon-hearing-aid:before {
  content: "\5f";
}
.icon-heart:before {
  content: "\60";
}
.icon-home:before {
  content: "\7b";
}
.icon-html5:before {
  content: "\7c";
}
.icon-indent-less:before {
  content: "\7d";
}
.icon-indent-more:before {
  content: "\7e";
}
.icon-info:before {
  content: "\5c";
}
.icon-italic:before {
  content: "\e000";
}
.icon-key:before {
  content: "\e001";
}
.icon-laptop:before {
  content: "\e002";
}
.icon-layout:before {
  content: "\e003";
}
.icon-lightbulb:before {
  content: "\e004";
}
.icon-like:before {
  content: "\e005";
}
.icon-link:before {
  content: "\e006";
}
.icon-list:before {
  content: "\e007";
}
.icon-list-bullet:before {
  content: "\e008";
}
.icon-list-number:before {
  content: "\e009";
}
.icon-list-thumbnails:before {
  content: "\e00a";
}
.icon-lock:before {
  content: "\e00b";
}
.icon-loop:before {
  content: "\e00c";
}
.icon-magnifying-glass:before {
  content: "\e00d";
}
.icon-mail:before {
  content: "\e00e";
}
.icon-male:before {
  content: "\e00f";
}
.icon-male-female:before {
  content: "\e010";
}
.icon-male-symbol:before {
  content: "\e011";
}
.icon-map:before {
  content: "\e012";
}
.icon-marker:before {
  content: "\e013";
}
.icon-megaphone:before {
  content: "\e014";
}
.icon-microphone:before {
  content: "\e015";
}
.icon-minus:before {
  content: "\e016";
}
.icon-minus-circle:before {
  content: "\e017";
}
.icon-mobile:before {
  content: "\e018";
}
.icon-mobile-signal:before {
  content: "\e019";
}
.icon-monitor:before {
  content: "\e01a";
}
.icon-mountains:before {
  content: "\e01b";
}
.icon-music:before {
  content: "\e01c";
}
.icon-next:before {
  content: "\e01d";
}
.icon-no-dogs:before {
  content: "\e01e";
}
.icon-no-smoking:before {
  content: "\e01f";
}
.icon-page:before {
  content: "\e020";
}
.icon-page-add:before {
  content: "\e021";
}
.icon-page-copy:before {
  content: "\e022";
}
.icon-page-csv:before {
  content: "\e023";
}
.icon-page-delete:before {
  content: "\e024";
}
.icon-page-doc:before {
  content: "\e025";
}
.icon-page-edit:before {
  content: "\e026";
}
.icon-page-export:before {
  content: "\e027";
}
.icon-page-export-csv:before {
  content: "\e028";
}
.icon-page-export-doc:before {
  content: "\e029";
}
.icon-page-export-pdf:before {
  content: "\e02a";
}
.icon-page-filled:before {
  content: "\e02b";
}
.icon-page-multiple:before {
  content: "\e02c";
}
.icon-page-pdf:before {
  content: "\e02d";
}
.icon-page-remove:before {
  content: "\e02e";
}
.icon-page-search:before {
  content: "\e02f";
}
.icon-paint-bucket:before {
  content: "\e030";
}
.icon-paperclip:before {
  content: "\e031";
}
.icon-pause:before {
  content: "\e032";
}
.icon-paw:before {
  content: "\e033";
}
.icon-paypal:before {
  content: "\e034";
}
.icon-pencil:before {
  content: "\e035";
}
.icon-photo:before {
  content: "\e036";
}
.icon-play:before {
  content: "\e037";
}
.icon-play-circle:before {
  content: "\e038";
}
.icon-play-video:before {
  content: "\e039";
}
.icon-plus:before {
  content: "\e03a";
}
.icon-pound:before {
  content: "\e03b";
}
.icon-power:before {
  content: "\e03c";
}
.icon-previous:before {
  content: "\e03d";
}
.icon-price-tag:before {
  content: "\e03e";
}
.icon-pricetag-multiple:before {
  content: "\e03f";
}
.icon-print:before {
  content: "\e040";
}
.icon-prohibited:before {
  content: "\e041";
}
.icon-projection-screen:before {
  content: "\e042";
}
.icon-puzzle:before {
  content: "\e043";
}
.icon-quote:before {
  content: "\e044";
}
.icon-record:before {
  content: "\e045";
}
.icon-refresh:before {
  content: "\e046";
}
.icon-results:before {
  content: "\e047";
}
.icon-results-demographics:before {
  content: "\e048";
}
.icon-rewind:before {
  content: "\e049";
}
.icon-rewind-ten:before {
  content: "\e04a";
}
.icon-rss:before {
  content: "\e04b";
}
.icon-safety-cone:before {
  content: "\e04c";
}
.icon-save:before {
  content: "\e04d";
}
.icon-share:before {
  content: "\e04e";
}
.icon-sheriff-badge:before {
  content: "\e04f";
}
.icon-shield:before {
  content: "\e050";
}
.icon-shopping-bag:before {
  content: "\e051";
}
.icon-shopping-cart:before {
  content: "\e052";
}
.icon-shuffle:before {
  content: "\e053";
}
.icon-skull:before {
  content: "\e054";
}
.icon-social-500px:before {
  content: "\e055";
}
.icon-social-adobe:before {
  content: "\e056";
}
.icon-social-amazon:before {
  content: "\e057";
}
.icon-social-android:before {
  content: "\e058";
}
.icon-social-apple:before {
  content: "\e059";
}
.icon-social-behance:before {
  content: "\e05a";
}
.icon-social-bing:before {
  content: "\e05b";
}
.icon-social-blogger:before {
  content: "\e05c";
}
.icon-social-delicious:before {
  content: "\e05d";
}
.icon-social-designer-news:before {
  content: "\e05e";
}
.icon-social-deviant-art:before {
  content: "\e05f";
}
.icon-social-digg:before {
  content: "\e060";
}
.icon-social-dribbble:before {
  content: "\e061";
}
.icon-social-drive:before {
  content: "\e062";
}
.icon-social-dropbox:before {
  content: "\e063";
}
.icon-social-evernote:before {
  content: "\e064";
}
.icon-social-facebook:before {
  content: "\e065";
}
.icon-social-flickr:before {
  content: "\e066";
}
.icon-social-forrst:before {
  content: "\e067";
}
.icon-social-foursquare:before {
  content: "\e068";
}
.icon-social-game-center:before {
  content: "\e069";
}
.icon-social-github:before {
  content: "\e06a";
}
.icon-social-google-plus:before {
  content: "\e06b";
}
.icon-social-hacker-news:before {
  content: "\e06c";
}
.icon-social-hi5:before {
  content: "\e06d";
}
.icon-social-instagram:before {
  content: "\e06e";
}
.icon-social-joomla:before {
  content: "\e06f";
}
.icon-social-lastfm:before {
  content: "\e070";
}
.icon-social-linkedin:before {
  content: "\e071";
}
.icon-social-medium:before {
  content: "\e072";
}
.icon-social-myspace:before {
  content: "\e073";
}
.icon-social-orkut:before {
  content: "\e074";
}
.icon-social-path:before {
  content: "\e075";
}
.icon-social-picasa:before {
  content: "\e076";
}
.icon-social-pinterest:before {
  content: "\e077";
}
.icon-social-rdio:before {
  content: "\e078";
}
.icon-social-reddit:before {
  content: "\e079";
}
.icon-social-skillshare:before {
  content: "\e07a";
}
.icon-social-skype:before {
  content: "\e07b";
}
.icon-social-smashing-mag:before {
  content: "\e07c";
}
.icon-social-snapchat:before {
  content: "\e07d";
}
.icon-social-spotify:before {
  content: "\e07e";
}
.icon-social-squidoo:before {
  content: "\e07f";
}
.icon-social-stack-overflow:before {
  content: "\e080";
}
.icon-social-steam:before {
  content: "\e081";
}
.icon-social-stumbleupon:before {
  content: "\e082";
}
.icon-social-treehouse:before {
  content: "\e083";
}
.icon-social-tumblr:before {
  content: "\e084";
}
.icon-social-twitter:before {
  content: "\e085";
}
.icon-social-vimeo:before {
  content: "\e086";
}
.icon-social-windows:before {
  content: "\e087";
}
.icon-social-xbox:before {
  content: "\e088";
}
.icon-social-yahoo:before {
  content: "\e089";
}
.icon-social-yelp:before {
  content: "\e08a";
}
.icon-social-youtube:before {
  content: "\e08b";
}
.icon-social-zerply:before {
  content: "\e08c";
}
.icon-social-zurb:before {
  content: "\e08d";
}
.icon-sound:before {
  content: "\e08e";
}
.icon-star:before {
  content: "\e08f";
}
.icon-stop:before {
  content: "\e090";
}
.icon-strikethrough:before {
  content: "\e091";
}
.icon-subscript:before {
  content: "\e092";
}
.icon-superscript:before {
  content: "\e093";
}
.icon-tablet-landscape:before {
  content: "\e094";
}
.icon-tablet-portrait:before {
  content: "\e095";
}
.icon-target:before {
  content: "\e096";
}
.icon-target-two:before {
  content: "\e097";
}
.icon-telephone:before {
  content: "\e098";
}
.icon-telephone-accessible:before {
  content: "\e099";
}
.icon-text-color:before {
  content: "\e09a";
}
.icon-thumbnails:before {
  content: "\e09b";
}
.icon-ticket:before {
  content: "\e09c";
}
.icon-torso:before {
  content: "\e09d";
}
.icon-torso-business:before {
  content: "\e09e";
}
.icon-torso-female:before {
  content: "\e09f";
}
.icon-torsos:before {
  content: "\e0a0";
}
.icon-torsos-all:before {
  content: "\e0a1";
}
.icon-torsos-all-female:before {
  content: "\e0a2";
}
.icon-torsos-female-male:before {
  content: "\e0a3";
}
.icon-torsos-male-female:before {
  content: "\e0a4";
}
.icon-trash:before {
  content: "\e0a5";
}
.icon-trees:before {
  content: "\e0a6";
}
.icon-trophy:before {
  content: "\e0a7";
}
.icon-underline:before {
  content: "\e0a8";
}
.icon-universal-access:before {
  content: "\e0a9";
}
.icon-unlink:before {
  content: "\e0aa";
}
.icon-unlock:before {
  content: "\e0ab";
}
.icon-upload:before {
  content: "\e0ac";
}
.icon-upload-cloud:before {
  content: "\e0ad";
}
.icon-usb:before {
  content: "\e0ae";
}
.icon-video:before {
  content: "\e0af";
}
.icon-volume:before {
  content: "\e0b0";
}
.icon-volume-none:before {
  content: "\e0b1";
}
.icon-volume-strike:before {
  content: "\e0b2";
}
.icon-web:before {
  content: "\e0b3";
}
.icon-wheelchair:before {
  content: "\e0b4";
}
.icon-widget:before {
  content: "\e0b5";
}
.icon-wrench:before {
  content: "\e0b6";
}
.icon-x:before {
  content: "\e0b7";
}
.icon-x-circle:before {
  content: "\e0b8";
}
.icon-yen:before {
  content: "\e0b9";
}
.icon-zoom-in:before {
  content: "\e0ba";
}
.icon-zoom-out:before {
  content: "\e0bb";
}
.icon-500px:before {
  content: "\e0bc";
}
.icon-adjust:before {
  content: "\e0bd";
}
.icon-adn:before {
  content: "\e0be";
}
.icon-align-center-1:before {
  content: "\e0bf";
}
.icon-align-justify-1:before {
  content: "\e0c0";
}
.icon-align-left-1:before {
  content: "\e0c1";
}
.icon-align-right-1:before {
  content: "\e0c2";
}
.icon-amazon:before {
  content: "\e0c3";
}
.icon-ambulance:before {
  content: "\e0c4";
}
.icon-anchor-1:before {
  content: "\e0c5";
}
.icon-android:before {
  content: "\e0c6";
}
.icon-angellist:before {
  content: "\e0c7";
}
.icon-angle-double-down:before {
  content: "\e0c8";
}
.icon-angle-double-left:before {
  content: "\e0c9";
}
.icon-angle-double-right:before {
  content: "\e0ca";
}
.icon-angle-double-up:before {
  content: "\e0cb";
}
.icon-angle-down:before {
  content: "\e0cc";
}
.icon-angle-left:before {
  content: "\e0cd";
}
.icon-angle-right:before {
  content: "\e0ce";
}
.icon-angle-up:before {
  content: "\e0cf";
}
.icon-apple:before {
  content: "\e0d0";
}
.icon-archive:before {
  content: "\e0d1";
}
.icon-area-chart:before {
  content: "\e0d2";
}
.icon-arrow-circle-down:before {
  content: "\e0d3";
}
.icon-arrow-circle-left:before {
  content: "\e0d4";
}
.icon-arrow-circle-o-down:before {
  content: "\e0d5";
}
.icon-arrow-circle-o-left:before {
  content: "\e0d6";
}
.icon-arrow-circle-o-right:before {
  content: "\e0d7";
}
.icon-arrow-circle-o-up:before {
  content: "\e0d8";
}
.icon-arrow-circle-right:before {
  content: "\e0d9";
}
.icon-arrow-circle-up:before {
  content: "\e0da";
}
.icon-arrow-down-1:before {
  content: "\e0db";
}
.icon-arrow-left-1:before {
  content: "\e0dc";
}
.icon-arrow-right-1:before {
  content: "\e0dd";
}
.icon-arrow-up-1:before {
  content: "\e0de";
}
.icon-arrows:before {
  content: "\e0df";
}
.icon-arrows-alt:before {
  content: "\e0e0";
}
.icon-arrows-h:before {
  content: "\e0e1";
}
.icon-arrows-v:before {
  content: "\e0e2";
}
.icon-asterisk-1:before {
  content: "\e0e3";
}
.icon-at:before {
  content: "\e0e4";
}
.icon-backward:before {
  content: "\e0e5";
}
.icon-balance-scale:before {
  content: "\e0e6";
}
.icon-ban:before {
  content: "\e0e7";
}
.icon-bar-chart:before {
  content: "\e0e8";
}
.icon-barcode:before {
  content: "\e0e9";
}
.icon-bars:before {
  content: "\e0ea";
}
.icon-battery-empty-1:before {
  content: "\e0eb";
}
.icon-battery-full-1:before {
  content: "\e0ec";
}
.icon-battery-half-1:before {
  content: "\e0ed";
}
.icon-battery-quarter:before {
  content: "\e0ee";
}
.icon-battery-three-quarters:before {
  content: "\e0ef";
}
.icon-bed:before {
  content: "\e0f0";
}
.icon-beer:before {
  content: "\e0f1";
}
.icon-behance:before {
  content: "\e0f2";
}
.icon-behance-square:before {
  content: "\e0f3";
}
.icon-bell:before {
  content: "\e0f4";
}
.icon-bell-o:before {
  content: "\e0f5";
}
.icon-bell-slash:before {
  content: "\e0f6";
}
.icon-bell-slash-o:before {
  content: "\e0f7";
}
.icon-bicycle:before {
  content: "\e0f8";
}
.icon-binoculars:before {
  content: "\e0f9";
}
.icon-birthday-cake:before {
  content: "\e0fa";
}
.icon-bitbucket:before {
  content: "\e0fb";
}
.icon-bitbucket-square:before {
  content: "\e0fc";
}
.icon-black-tie:before {
  content: "\e0fd";
}
.icon-bold-1:before {
  content: "\e0fe";
}
.icon-bolt:before {
  content: "\e0ff";
}
.icon-bomb:before {
  content: "\e100";
}
.icon-book-1:before {
  content: "\e101";
}
.icon-bookmark-1:before {
  content: "\e102";
}
.icon-bookmark-o:before {
  content: "\e103";
}
.icon-briefcase:before {
  content: "\e104";
}
.icon-btc:before {
  content: "\e105";
}
.icon-bug:before {
  content: "\e106";
}
.icon-building:before {
  content: "\e107";
}
.icon-building-o:before {
  content: "\e108";
}
.icon-bullhorn:before {
  content: "\e109";
}
.icon-bullseye:before {
  content: "\e10a";
}
.icon-bus:before {
  content: "\e10b";
}
.icon-buysellads:before {
  content: "\e10c";
}
.icon-calculator:before {
  content: "\e10d";
}
.icon-calendar-1:before {
  content: "\e10e";
}
.icon-calendar-check-o:before {
  content: "\e10f";
}
.icon-calendar-minus-o:before {
  content: "\e110";
}
.icon-calendar-o:before {
  content: "\e111";
}
.icon-calendar-plus-o:before {
  content: "\e112";
}
.icon-calendar-times-o:before {
  content: "\e113";
}
.icon-camera-1:before {
  content: "\e114";
}
.icon-camera-retro:before {
  content: "\e115";
}
.icon-car:before {
  content: "\e116";
}
.icon-caret-down:before {
  content: "\e117";
}
.icon-caret-left:before {
  content: "\e118";
}
.icon-caret-right:before {
  content: "\e119";
}
.icon-caret-square-o-down:before {
  content: "\e11a";
}
.icon-caret-square-o-left:before {
  content: "\e11b";
}
.icon-caret-square-o-right:before {
  content: "\e11c";
}
.icon-caret-square-o-up:before {
  content: "\e11d";
}
.icon-caret-up:before {
  content: "\e11e";
}
.icon-cart-arrow-down:before {
  content: "\e11f";
}
.icon-cart-plus:before {
  content: "\e120";
}
.icon-cc:before {
  content: "\e121";
}
.icon-cc-amex:before {
  content: "\e122";
}
.icon-cc-diners-club:before {
  content: "\e123";
}
.icon-cc-discover:before {
  content: "\e124";
}
.icon-cc-jcb:before {
  content: "\e125";
}
.icon-cc-mastercard:before {
  content: "\e126";
}
.icon-cc-paypal:before {
  content: "\e127";
}
.icon-cc-stripe:before {
  content: "\e128";
}
.icon-cc-visa:before {
  content: "\e129";
}
.icon-certificate:before {
  content: "\e12a";
}
.icon-chain-broken:before {
  content: "\e12b";
}
.icon-check-1:before {
  content: "\e12c";
}
.icon-check-circle:before {
  content: "\e12d";
}
.icon-check-circle-o:before {
  content: "\e12e";
}
.icon-check-square:before {
  content: "\e12f";
}
.icon-check-square-o:before {
  content: "\e130";
}
.icon-chevron-circle-down:before {
  content: "\e131";
}
.icon-chevron-circle-left:before {
  content: "\e132";
}
.icon-chevron-circle-right:before {
  content: "\e133";
}
.icon-chevron-circle-up:before {
  content: "\e134";
}
.icon-chevron-down:before {
  content: "\e135";
}
.icon-chevron-left:before {
  content: "\e136";
}
.icon-chevron-right:before {
  content: "\e137";
}
.icon-chevron-up:before {
  content: "\e138";
}
.icon-child:before {
  content: "\e139";
}
.icon-chrome:before {
  content: "\e13a";
}
.icon-circle:before {
  content: "\e13b";
}
.icon-circle-o:before {
  content: "\e13c";
}
.icon-circle-o-notch:before {
  content: "\e13d";
}
.icon-circle-thin:before {
  content: "\e13e";
}
.icon-clipboard-1:before {
  content: "\e13f";
}
.icon-clock-o:before {
  content: "\e140";
}
.icon-clone:before {
  content: "\e141";
}
.icon-cloud-1:before {
  content: "\e142";
}
.icon-cloud-download:before {
  content: "\e143";
}
.icon-cloud-upload:before {
  content: "\e144";
}
.icon-code:before {
  content: "\e145";
}
.icon-code-fork:before {
  content: "\e146";
}
.icon-codepen:before {
  content: "\e147";
}
.icon-coffee:before {
  content: "\e148";
}
.icon-cog:before {
  content: "\e149";
}
.icon-cogs:before {
  content: "\e14a";
}
.icon-columns:before {
  content: "\e14b";
}
.icon-comment-1:before {
  content: "\e14c";
}
.icon-comment-o:before {
  content: "\e14d";
}
.icon-commenting:before {
  content: "\e14e";
}
.icon-commenting-o:before {
  content: "\e14f";
}
.icon-comments-1:before {
  content: "\e150";
}
.icon-comments-o:before {
  content: "\e151";
}
.icon-compass-1:before {
  content: "\e152";
}
.icon-compress:before {
  content: "\e153";
}
.icon-connectdevelop:before {
  content: "\e154";
}
.icon-contao:before {
  content: "\e155";
}
.icon-copyright:before {
  content: "\e156";
}
.icon-creative-commons:before {
  content: "\e157";
}
.icon-credit-card-1:before {
  content: "\e158";
}
.icon-crop-1:before {
  content: "\e159";
}
.icon-crosshairs:before {
  content: "\e15a";
}
.icon-css3-1:before {
  content: "\e15b";
}
.icon-cube:before {
  content: "\e15c";
}
.icon-cubes:before {
  content: "\e15d";
}
.icon-cutlery:before {
  content: "\e15e";
}
.icon-dashcube:before {
  content: "\e15f";
}
.icon-database-1:before {
  content: "\e160";
}
.icon-delicious:before {
  content: "\e161";
}
.icon-desktop:before {
  content: "\e162";
}
.icon-deviantart:before {
  content: "\e163";
}
.icon-diamond:before {
  content: "\e164";
}
.icon-digg:before {
  content: "\e165";
}
.icon-dot-circle-o:before {
  content: "\e166";
}
.icon-download-1:before {
  content: "\e167";
}
.icon-dribbble:before {
  content: "\e168";
}
.icon-dropbox:before {
  content: "\e169";
}
.icon-drupal:before {
  content: "\e16a";
}
.icon-eject-1:before {
  content: "\e16b";
}
.icon-ellipsis-h:before {
  content: "\e16c";
}
.icon-ellipsis-v:before {
  content: "\e16d";
}
.icon-empire:before {
  content: "\e16e";
}
.icon-envelope:before {
  content: "\e16f";
}
.icon-envelope-o:before {
  content: "\e170";
}
.icon-envelope-square:before {
  content: "\e171";
}
.icon-eraser:before {
  content: "\e172";
}
.icon-eur:before {
  content: "\e173";
}
.icon-exchange:before {
  content: "\e174";
}
.icon-exclamation:before {
  content: "\e175";
}
.icon-exclamation-circle:before {
  content: "\e176";
}
.icon-exclamation-triangle:before {
  content: "\e177";
}
.icon-expand:before {
  content: "\e178";
}
.icon-expeditedssl:before {
  content: "\e179";
}
.icon-external-link:before {
  content: "\e17a";
}
.icon-external-link-square:before {
  content: "\e17b";
}
.icon-eye-1:before {
  content: "\e17c";
}
.icon-eye-slash:before {
  content: "\e17d";
}
.icon-eyedropper:before {
  content: "\e17e";
}
.icon-facebook:before {
  content: "\e17f";
}
.icon-facebook-official:before {
  content: "\e180";
}
.icon-facebook-square:before {
  content: "\e181";
}
.icon-fast-backward:before {
  content: "\e182";
}
.icon-fast-forward-1:before {
  content: "\e183";
}
.icon-fax:before {
  content: "\e184";
}
.icon-female-1:before {
  content: "\e185";
}
.icon-fighter-jet:before {
  content: "\e186";
}
.icon-file:before {
  content: "\e187";
}
.icon-file-archive-o:before {
  content: "\e188";
}
.icon-file-audio-o:before {
  content: "\e189";
}
.icon-file-code-o:before {
  content: "\e18a";
}
.icon-file-excel-o:before {
  content: "\e18b";
}
.icon-file-image-o:before {
  content: "\e18c";
}
.icon-file-o:before {
  content: "\e18d";
}
.icon-file-pdf-o:before {
  content: "\e18e";
}
.icon-file-powerpoint-o:before {
  content: "\e18f";
}
.icon-file-text:before {
  content: "\e190";
}
.icon-file-text-o:before {
  content: "\e191";
}
.icon-file-video-o:before {
  content: "\e192";
}
.icon-file-word-o:before {
  content: "\e193";
}
.icon-files-o:before {
  content: "\e194";
}
.icon-film:before {
  content: "\e195";
}
.icon-filter-1:before {
  content: "\e196";
}
.icon-fire:before {
  content: "\e197";
}
.icon-fire-extinguisher:before {
  content: "\e198";
}
.icon-firefox:before {
  content: "\e199";
}
.icon-flag-1:before {
  content: "\e19a";
}
.icon-flag-checkered:before {
  content: "\e19b";
}
.icon-flag-o:before {
  content: "\e19c";
}
.icon-flask:before {
  content: "\e19d";
}
.icon-flickr:before {
  content: "\e19e";
}
.icon-floppy-o:before {
  content: "\e19f";
}
.icon-folder-1:before {
  content: "\e1a0";
}
.icon-folder-o:before {
  content: "\e1a1";
}
.icon-folder-open:before {
  content: "\e1a2";
}
.icon-folder-open-o:before {
  content: "\e1a3";
}
.icon-font:before {
  content: "\e1a4";
}
.icon-fonticons:before {
  content: "\e1a5";
}
.icon-forumbee:before {
  content: "\e1a6";
}
.icon-forward:before {
  content: "\e1a7";
}
.icon-foursquare:before {
  content: "\e1a8";
}
.icon-frown-o:before {
  content: "\e1a9";
}
.icon-futbol-o:before {
  content: "\e1aa";
}
.icon-gamepad:before {
  content: "\e1ab";
}
.icon-gavel:before {
  content: "\e1ac";
}
.icon-gbp:before {
  content: "\e1ad";
}
.icon-genderless:before {
  content: "\e1ae";
}
.icon-get-pocket:before {
  content: "\e1af";
}
.icon-gg:before {
  content: "\e1b0";
}
.icon-gg-circle:before {
  content: "\e1b1";
}
.icon-gift:before {
  content: "\e1b2";
}
.icon-git:before {
  content: "\e1b3";
}
.icon-git-square:before {
  content: "\e1b4";
}
.icon-github:before {
  content: "\e1b5";
}
.icon-github-alt:before {
  content: "\e1b6";
}
.icon-github-square:before {
  content: "\e1b7";
}
.icon-glass:before {
  content: "\e1b8";
}
.icon-globe:before {
  content: "\e1b9";
}
.icon-google:before {
  content: "\e1ba";
}
.icon-google-plus:before {
  content: "\e1bb";
}
.icon-google-plus-square:before {
  content: "\e1bc";
}
.icon-google-wallet:before {
  content: "\e1bd";
}
.icon-graduation-cap:before {
  content: "\e1be";
}
.icon-gratipay:before {
  content: "\e1bf";
}
.icon-h-square:before {
  content: "\e1c0";
}
.icon-hacker-news:before {
  content: "\e1c1";
}
.icon-hand-lizard-o:before {
  content: "\e1c2";
}
.icon-hand-o-down:before {
  content: "\e1c3";
}
.icon-hand-o-left:before {
  content: "\e1c4";
}
.icon-hand-o-right:before {
  content: "\e1c5";
}
.icon-hand-o-up:before {
  content: "\e1c6";
}
.icon-hand-paper-o:before {
  content: "\e1c7";
}
.icon-hand-peace-o:before {
  content: "\e1c8";
}
.icon-hand-pointer-o:before {
  content: "\e1c9";
}
.icon-hand-rock-o:before {
  content: "\e1ca";
}
.icon-hand-scissors-o:before {
  content: "\e1cb";
}
.icon-hand-spock-o:before {
  content: "\e1cc";
}
.icon-hdd-o:before {
  content: "\e1cd";
}
.icon-header:before {
  content: "\e1ce";
}
.icon-headphones:before {
  content: "\e1cf";
}
.icon-heart-1:before {
  content: "\e1d0";
}
.icon-heart-o:before {
  content: "\e1d1";
}
.icon-heartbeat:before {
  content: "\e1d2";
}
.icon-history:before {
  content: "\e1d3";
}
.icon-home-1:before {
  content: "\e1d4";
}
.icon-hospital-o:before {
  content: "\e1d5";
}
.icon-hourglass:before {
  content: "\e1d6";
}
.icon-hourglass-end:before {
  content: "\e1d7";
}
.icon-hourglass-half:before {
  content: "\e1d8";
}
.icon-hourglass-o:before {
  content: "\e1d9";
}
.icon-hourglass-start:before {
  content: "\e1da";
}
.icon-houzz:before {
  content: "\e1db";
}
.icon-html5-1:before {
  content: "\e1dc";
}
.icon-i-cursor:before {
  content: "\e1dd";
}
.icon-ils:before {
  content: "\e1de";
}
.icon-inbox:before {
  content: "\e1df";
}
.icon-indent:before {
  content: "\e1e0";
}
.icon-industry:before {
  content: "\e1e1";
}
.icon-info-1:before {
  content: "\e1e2";
}
.icon-info-circle:before {
  content: "\e1e3";
}
.icon-inr:before {
  content: "\e1e4";
}
.icon-instagram:before {
  content: "\e1e5";
}
.icon-internet-explorer:before {
  content: "\e1e6";
}
.icon-ioxhost:before {
  content: "\e1e7";
}
.icon-italic-1:before {
  content: "\e1e8";
}
.icon-joomla:before {
  content: "\e1e9";
}
.icon-jpy:before {
  content: "\e1ea";
}
.icon-jsfiddle:before {
  content: "\e1eb";
}
.icon-key-1:before {
  content: "\e1ec";
}
.icon-keyboard-o:before {
  content: "\e1ed";
}
.icon-krw:before {
  content: "\e1ee";
}
.icon-language:before {
  content: "\e1ef";
}
.icon-laptop-1:before {
  content: "\e1f0";
}
.icon-lastfm:before {
  content: "\e1f1";
}
.icon-lastfm-square:before {
  content: "\e1f2";
}
.icon-leaf:before {
  content: "\e1f3";
}
.icon-leanpub:before {
  content: "\e1f4";
}
.icon-lemon-o:before {
  content: "\e1f5";
}
.icon-level-down:before {
  content: "\e1f6";
}
.icon-level-up:before {
  content: "\e1f7";
}
.icon-life-ring:before {
  content: "\e1f8";
}
.icon-lightbulb-o:before {
  content: "\e1f9";
}
.icon-line-chart:before {
  content: "\e1fa";
}
.icon-link-1:before {
  content: "\e1fb";
}
.icon-linkedin:before {
  content: "\e1fc";
}
.icon-linkedin-square:before {
  content: "\e1fd";
}
.icon-linux:before {
  content: "\e1fe";
}
.icon-list-1:before {
  content: "\e1ff";
}
.icon-list-alt:before {
  content: "\e200";
}
.icon-list-ol:before {
  content: "\e201";
}
.icon-list-ul:before {
  content: "\e202";
}
.icon-location-arrow:before {
  content: "\e203";
}
.icon-lock-1:before {
  content: "\e204";
}
.icon-long-arrow-down:before {
  content: "\e205";
}
.icon-long-arrow-left:before {
  content: "\e206";
}
.icon-long-arrow-right:before {
  content: "\e207";
}
.icon-long-arrow-up:before {
  content: "\e208";
}
.icon-magic:before {
  content: "\e209";
}
.icon-magnet:before {
  content: "\e20a";
}
.icon-male-1:before {
  content: "\e20b";
}
.icon-map-1:before {
  content: "\e20c";
}
.icon-map-marker:before {
  content: "\e20d";
}
.icon-map-o:before {
  content: "\e20e";
}
.icon-map-pin:before {
  content: "\e20f";
}
.icon-map-signs:before {
  content: "\e210";
}
.icon-mars:before {
  content: "\e211";
}
.icon-mars-double:before {
  content: "\e212";
}
.icon-mars-stroke:before {
  content: "\e213";
}
.icon-mars-stroke-h:before {
  content: "\e214";
}
.icon-mars-stroke-v:before {
  content: "\e215";
}
.icon-maxcdn:before {
  content: "\e216";
}
.icon-meanpath:before {
  content: "\e217";
}
.icon-medium:before {
  content: "\e218";
}
.icon-medkit:before {
  content: "\e219";
}
.icon-meh-o:before {
  content: "\e21a";
}
.icon-mercury:before {
  content: "\e21b";
}
.icon-microphone-1:before {
  content: "\e21c";
}
.icon-microphone-slash:before {
  content: "\e21d";
}
.icon-minus-1:before {
  content: "\e21e";
}
.icon-minus-circle-1:before {
  content: "\e21f";
}
.icon-minus-square:before {
  content: "\e220";
}
.icon-minus-square-o:before {
  content: "\e221";
}
.icon-mobile-1:before {
  content: "\e222";
}
.icon-money:before {
  content: "\e223";
}
.icon-moon-o:before {
  content: "\e224";
}
.icon-motorcycle:before {
  content: "\e225";
}
.icon-mouse-pointer:before {
  content: "\e226";
}
.icon-music-1:before {
  content: "\e227";
}
.icon-neuter:before {
  content: "\e228";
}
.icon-newspaper-o:before {
  content: "\e229";
}
.icon-object-group:before {
  content: "\e22a";
}
.icon-object-ungroup:before {
  content: "\e22b";
}
.icon-odnoklassniki:before {
  content: "\e22c";
}
.icon-odnoklassniki-square:before {
  content: "\e22d";
}
.icon-opencart:before {
  content: "\e22e";
}
.icon-openid:before {
  content: "\e22f";
}
.icon-opera:before {
  content: "\e230";
}
.icon-optin-monster:before {
  content: "\e231";
}
.icon-outdent:before {
  content: "\e232";
}
.icon-pagelines:before {
  content: "\e233";
}
.icon-paint-brush:before {
  content: "\e234";
}
.icon-paper-plane:before {
  content: "\e235";
}
.icon-paper-plane-o:before {
  content: "\e236";
}
.icon-paperclip-1:before {
  content: "\e237";
}
.icon-paragraph:before {
  content: "\e238";
}
.icon-pause-1:before {
  content: "\e239";
}
.icon-paw-1:before {
  content: "\e23a";
}
.icon-paypal-1:before {
  content: "\e23b";
}
.icon-pencil-1:before {
  content: "\e23c";
}
.icon-pencil-square:before {
  content: "\e23d";
}
.icon-pencil-square-o:before {
  content: "\e23e";
}
.icon-phone:before {
  content: "\e23f";
}
.icon-phone-square:before {
  content: "\e240";
}
.icon-picture-o:before {
  content: "\e241";
}
.icon-pie-chart:before {
  content: "\e242";
}
.icon-pied-piper:before {
  content: "\e243";
}
.icon-pied-piper-alt:before {
  content: "\e244";
}
.icon-pinterest:before {
  content: "\e245";
}
.icon-pinterest-p:before {
  content: "\e246";
}
.icon-pinterest-square:before {
  content: "\e247";
}
.icon-plane:before {
  content: "\e248";
}
.icon-play-1:before {
  content: "\e249";
}
.icon-play-circle-1:before {
  content: "\e24a";
}
.icon-play-circle-o:before {
  content: "\e24b";
}
.icon-plug:before {
  content: "\e24c";
}
.icon-plus-1:before {
  content: "\e24d";
}
.icon-plus-circle:before {
  content: "\e24e";
}
.icon-plus-square:before {
  content: "\e24f";
}
.icon-plus-square-o:before {
  content: "\e250";
}
.icon-power-off:before {
  content: "\e251";
}
.icon-print-1:before {
  content: "\e252";
}
.icon-puzzle-piece:before {
  content: "\e253";
}
.icon-qq:before {
  content: "\e254";
}
.icon-qrcode:before {
  content: "\e255";
}
.icon-question:before {
  content: "\e256";
}
.icon-question-circle:before {
  content: "\e257";
}
.icon-quote-left:before {
  content: "\e258";
}
.icon-quote-right:before {
  content: "\e259";
}
.icon-random:before {
  content: "\e25a";
}
.icon-rebel:before {
  content: "\e25b";
}
.icon-recycle:before {
  content: "\e25c";
}
.icon-reddit:before {
  content: "\e25d";
}
.icon-reddit-square:before {
  content: "\e25e";
}
.icon-refresh-1:before {
  content: "\e25f";
}
.icon-registered:before {
  content: "\e260";
}
.icon-renren:before {
  content: "\e261";
}
.icon-repeat:before {
  content: "\e262";
}
.icon-reply:before {
  content: "\e263";
}
.icon-reply-all:before {
  content: "\e264";
}
.icon-retweet:before {
  content: "\e265";
}
.icon-road:before {
  content: "\e266";
}
.icon-rocket:before {
  content: "\e267";
}
.icon-rss-1:before {
  content: "\e268";
}
.icon-rss-square:before {
  content: "\e269";
}
.icon-rub:before {
  content: "\e26a";
}
.icon-safari:before {
  content: "\e26b";
}
.icon-scissors:before {
  content: "\e26c";
}
.icon-search:before {
  content: "\e26d";
}
.icon-search-minus:before {
  content: "\e26e";
}
.icon-search-plus:before {
  content: "\e26f";
}
.icon-sellsy:before {
  content: "\e270";
}
.icon-server:before {
  content: "\e271";
}
.icon-share-1:before {
  content: "\e272";
}
.icon-share-alt:before {
  content: "\e273";
}
.icon-share-alt-square:before {
  content: "\e274";
}
.icon-share-square:before {
  content: "\e275";
}
.icon-share-square-o:before {
  content: "\e276";
}
.icon-shield-1:before {
  content: "\e277";
}
.icon-ship:before {
  content: "\e278";
}
.icon-shirtsinbulk:before {
  content: "\e279";
}
.icon-shopping-cart-1:before {
  content: "\e27a";
}
.icon-sign-in:before {
  content: "\e27b";
}
.icon-sign-out:before {
  content: "\e27c";
}
.icon-signal:before {
  content: "\e27d";
}
.icon-simplybuilt:before {
  content: "\e27e";
}
.icon-sitemap:before {
  content: "\e27f";
}
.icon-skyatlas:before {
  content: "\e280";
}
.icon-skype:before {
  content: "\e281";
}
.icon-slack:before {
  content: "\e282";
}
.icon-sliders:before {
  content: "\e283";
}
.icon-slideshare:before {
  content: "\e284";
}
.icon-smile-o:before {
  content: "\e285";
}
.icon-sort:before {
  content: "\e286";
}
.icon-sort-alpha-asc:before {
  content: "\e287";
}
.icon-sort-alpha-desc:before {
  content: "\e288";
}
.icon-sort-amount-asc:before {
  content: "\e289";
}
.icon-sort-amount-desc:before {
  content: "\e28a";
}
.icon-sort-asc:before {
  content: "\e28b";
}
.icon-sort-desc:before {
  content: "\e28c";
}
.icon-sort-numeric-asc:before {
  content: "\e28d";
}
.icon-sort-numeric-desc:before {
  content: "\e28e";
}
.icon-soundcloud:before {
  content: "\e28f";
}
.icon-space-shuttle:before {
  content: "\e290";
}
.icon-spinner:before {
  content: "\e291";
}
.icon-spoon:before {
  content: "\e292";
}
.icon-spotify:before {
  content: "\e293";
}
.icon-square:before {
  content: "\e294";
}
.icon-square-o:before {
  content: "\e295";
}
.icon-stack-exchange:before {
  content: "\e296";
}
.icon-stack-overflow:before {
  content: "\e297";
}
.icon-star-1:before {
  content: "\e298";
}
.icon-star-half:before {
  content: "\e299";
}
.icon-star-half-o:before {
  content: "\e29a";
}
.icon-star-o:before {
  content: "\e29b";
}
.icon-steam:before {
  content: "\e29c";
}
.icon-steam-square:before {
  content: "\e29d";
}
.icon-step-backward:before {
  content: "\e29e";
}
.icon-step-forward:before {
  content: "\e29f";
}
.icon-stethoscope:before {
  content: "\e2a0";
}
.icon-sticky-note:before {
  content: "\e2a1";
}
.icon-sticky-note-o:before {
  content: "\e2a2";
}
.icon-stop-1:before {
  content: "\e2a3";
}
.icon-street-view:before {
  content: "\e2a4";
}
.icon-strikethrough-1:before {
  content: "\e2a5";
}
.icon-stumbleupon:before {
  content: "\e2a6";
}
.icon-stumbleupon-circle:before {
  content: "\e2a7";
}
.icon-subscript-1:before {
  content: "\e2a8";
}
.icon-subway:before {
  content: "\e2a9";
}
.icon-suitcase:before {
  content: "\e2aa";
}
.icon-sun-o:before {
  content: "\e2ab";
}
.icon-superscript-1:before {
  content: "\e2ac";
}
.icon-table:before {
  content: "\e2ad";
}
.icon-tablet:before {
  content: "\e2ae";
}
.icon-tachometer:before {
  content: "\e2af";
}
.icon-tag:before {
  content: "\e2b0";
}
.icon-tags:before {
  content: "\e2b1";
}
.icon-tasks:before {
  content: "\e2b2";
}
.icon-taxi:before {
  content: "\e2b3";
}
.icon-television:before {
  content: "\e2b4";
}
.icon-tencent-weibo:before {
  content: "\e2b5";
}
.icon-terminal:before {
  content: "\e2b6";
}
.icon-text-height:before {
  content: "\e2b7";
}
.icon-text-width:before {
  content: "\e2b8";
}
.icon-th:before {
  content: "\e2b9";
}
.icon-th-large:before {
  content: "\e2ba";
}
.icon-th-list:before {
  content: "\e2bb";
}
.icon-thumb-tack:before {
  content: "\e2bc";
}
.icon-thumbs-down:before {
  content: "\e2bd";
}
.icon-thumbs-o-down:before {
  content: "\e2be";
}
.icon-thumbs-o-up:before {
  content: "\e2bf";
}
.icon-thumbs-up:before {
  content: "\e2c0";
}
.icon-ticket-1:before {
  content: "\e2c1";
}
.icon-times:before {
  content: "\e2c2";
}
.icon-times-circle:before {
  content: "\e2c3";
}
.icon-times-circle-o:before {
  content: "\e2c4";
}
.icon-tint:before {
  content: "\e2c5";
}
.icon-toggle-off:before {
  content: "\e2c6";
}
.icon-toggle-on:before {
  content: "\e2c7";
}
.icon-trademark:before {
  content: "\e2c8";
}
.icon-train:before {
  content: "\e2c9";
}
.icon-transgender:before {
  content: "\e2ca";
}
.icon-transgender-alt:before {
  content: "\e2cb";
}
.icon-trash-1:before {
  content: "\e2cc";
}
.icon-trash-o:before {
  content: "\e2cd";
}
.icon-tree:before {
  content: "\e2ce";
}
.icon-trello:before {
  content: "\e2cf";
}
.icon-tripadvisor:before {
  content: "\e2d0";
}
.icon-trophy-1:before {
  content: "\e2d1";
}
.icon-truck:before {
  content: "\e2d2";
}
.icon-try:before {
  content: "\e2d3";
}
.icon-tty:before {
  content: "\e2d4";
}
.icon-tumblr:before {
  content: "\e2d5";
}
.icon-tumblr-square:before {
  content: "\e2d6";
}
.icon-twitch:before {
  content: "\e2d7";
}
.icon-twitter:before {
  content: "\e2d8";
}
.icon-twitter-square:before {
  content: "\e2d9";
}
.icon-umbrella:before {
  content: "\e2da";
}
.icon-underline-1:before {
  content: "\e2db";
}
.icon-undo:before {
  content: "\e2dc";
}
.icon-university:before {
  content: "\e2dd";
}
.icon-unlock-1:before {
  content: "\e2de";
}
.icon-unlock-alt:before {
  content: "\e2df";
}
.icon-upload-1:before {
  content: "\e2e0";
}
.icon-usd:before {
  content: "\e2e1";
}
.icon-user:before {
  content: "\e2e2";
}
.icon-user-md:before {
  content: "\e2e3";
}
.icon-user-plus:before {
  content: "\e2e4";
}
.icon-user-secret:before {
  content: "\e2e5";
}
.icon-user-times:before {
  content: "\e2e6";
}
.icon-users:before {
  content: "\e2e7";
}
.icon-venus:before {
  content: "\e2e8";
}
.icon-venus-double:before {
  content: "\e2e9";
}
.icon-venus-mars:before {
  content: "\e2ea";
}
.icon-viacoin:before {
  content: "\e2eb";
}
.icon-video-camera:before {
  content: "\e2ec";
}
.icon-vimeo:before {
  content: "\e2ed";
}
.icon-vimeo-square:before {
  content: "\e2ee";
}
.icon-vine:before {
  content: "\e2ef";
}
.icon-vk:before {
  content: "\e2f0";
}
.icon-volume-down:before {
  content: "\e2f1";
}
.icon-volume-off:before {
  content: "\e2f2";
}
.icon-volume-up:before {
  content: "\e2f3";
}
.icon-weibo:before {
  content: "\e2f4";
}
.icon-weixin:before {
  content: "\e2f5";
}
.icon-whatsapp:before {
  content: "\e2f6";
}
.icon-wheelchair-1:before {
  content: "\e2f7";
}
.icon-wifi:before {
  content: "\e2f8";
}
.icon-wikipedia-w:before {
  content: "\e2f9";
}
.icon-windows:before {
  content: "\e2fa";
}
.icon-wordpress:before {
  content: "\e2fb";
}
.icon-wrench-1:before {
  content: "\e2fc";
}
.icon-xing:before {
  content: "\e2fd";
}
.icon-xing-square:before {
  content: "\e2fe";
}
.icon-y-combinator:before {
  content: "\e2ff";
}
.icon-yahoo:before {
  content: "\e300";
}
.icon-yelp:before {
  content: "\e301";
}
.icon-youtube:before {
  content: "\e302";
}
.icon-youtube-play:before {
  content: "\e303";
}
.icon-youtube-square:before {
  content: "\e304";
}
.icon-alert-1:before {
  content: "\e305";
}
.icon-alignment-align:before {
  content: "\e306";
}
.icon-alignment-aligned-to:before {
  content: "\e307";
}
.icon-alignment-unalign:before {
  content: "\e308";
}
.icon-arrow-down-2:before {
  content: "\e309";
}
.icon-arrow-left-2:before {
  content: "\e30a";
}
.icon-arrow-right-2:before {
  content: "\e30b";
}
.icon-arrow-small-down:before {
  content: "\e30c";
}
.icon-arrow-small-left:before {
  content: "\e30d";
}
.icon-arrow-small-right:before {
  content: "\e30e";
}
.icon-arrow-small-up:before {
  content: "\e30f";
}
.icon-arrow-up-2:before {
  content: "\e310";
}
.icon-beer-1:before {
  content: "\e311";
}
.icon-book-2:before {
  content: "\e312";
}
.icon-bookmark-2:before {
  content: "\e313";
}
.icon-briefcase-1:before {
  content: "\e314";
}
.icon-broadcast:before {
  content: "\e315";
}
.icon-browser:before {
  content: "\e316";
}
.icon-bug-1:before {
  content: "\e317";
}
.icon-calendar-2:before {
  content: "\e318";
}
.icon-check-2:before {
  content: "\e319";
}
.icon-checklist:before {
  content: "\e31a";
}
.icon-chevron-down-1:before {
  content: "\e31b";
}
.icon-chevron-left-1:before {
  content: "\e31c";
}
.icon-chevron-right-1:before {
  content: "\e31d";
}
.icon-chevron-up-1:before {
  content: "\e31e";
}
.icon-circle-slash:before {
  content: "\e31f";
}
.icon-circuit-board:before {
  content: "\e320";
}
.icon-clippy:before {
  content: "\e321";
}
.icon-clock-1:before {
  content: "\e322";
}
.icon-cloud-download-1:before {
  content: "\e323";
}
.icon-cloud-upload-1:before {
  content: "\e324";
}
.icon-code-1:before {
  content: "\e325";
}
.icon-color-mode:before {
  content: "\e326";
}
.icon-comment-2:before {
  content: "\e327";
}
.icon-comment-discussion:before {
  content: "\e328";
}
.icon-credit-card-2:before {
  content: "\e329";
}
.icon-dash:before {
  content: "\e32a";
}
.icon-dashboard:before {
  content: "\e32b";
}
.icon-database-2:before {
  content: "\e32c";
}
.icon-device-camera:before {
  content: "\e32d";
}
.icon-device-camera-video:before {
  content: "\e32e";
}
.icon-device-desktop:before {
  content: "\e32f";
}
.icon-device-mobile:before {
  content: "\e330";
}
.icon-diff:before {
  content: "\e331";
}
.icon-diff-added:before {
  content: "\e332";
}
.icon-diff-ignored:before {
  content: "\e333";
}
.icon-diff-modified:before {
  content: "\e334";
}
.icon-diff-removed:before {
  content: "\e335";
}
.icon-diff-renamed:before {
  content: "\e336";
}
.icon-ellipsis:before {
  content: "\e337";
}
.icon-eye-2:before {
  content: "\e338";
}
.icon-file-binary:before {
  content: "\e339";
}
.icon-file-code:before {
  content: "\e33a";
}
.icon-file-directory:before {
  content: "\e33b";
}
.icon-file-media:before {
  content: "\e33c";
}
.icon-file-pdf:before {
  content: "\e33d";
}
.icon-file-submodule:before {
  content: "\e33e";
}
.icon-file-symlink-directory:before {
  content: "\e33f";
}
.icon-file-symlink-file:before {
  content: "\e340";
}
.icon-file-text-1:before {
  content: "\e341";
}
.icon-file-zip:before {
  content: "\e342";
}
.icon-flame:before {
  content: "\e343";
}
.icon-fold:before {
  content: "\e344";
}
.icon-gear:before {
  content: "\e345";
}
.icon-gift-1:before {
  content: "\e346";
}
.icon-gist:before {
  content: "\e347";
}
.icon-gist-secret:before {
  content: "\e348";
}
.icon-git-branch:before {
  content: "\e349";
}
.icon-git-commit:before {
  content: "\e34a";
}
.icon-git-compare:before {
  content: "\e34b";
}
.icon-git-merge:before {
  content: "\e34c";
}
.icon-git-pull-request:before {
  content: "\e34d";
}
.icon-globe-1:before {
  content: "\e34e";
}
.icon-graph:before {
  content: "\e34f";
}
.icon-heart-2:before {
  content: "\e350";
}
.icon-history-1:before {
  content: "\e351";
}
.icon-home-2:before {
  content: "\e352";
}
.icon-horizontal-rule:before {
  content: "\e353";
}
.icon-hourglass-1:before {
  content: "\e354";
}
.icon-hubot:before {
  content: "\e355";
}
.icon-inbox-1:before {
  content: "\e356";
}
.icon-info-2:before {
  content: "\e357";
}
.icon-issue-closed:before {
  content: "\e358";
}
.icon-issue-opened:before {
  content: "\e359";
}
.icon-issue-reopened:before {
  content: "\e35a";
}
.icon-jersey:before {
  content: "\e35b";
}
.icon-jump-down:before {
  content: "\e35c";
}
.icon-jump-left:before {
  content: "\e35d";
}
.icon-jump-right:before {
  content: "\e35e";
}
.icon-jump-up:before {
  content: "\e35f";
}
.icon-key-2:before {
  content: "\e360";
}
.icon-keyboard:before {
  content: "\e361";
}
.icon-law:before {
  content: "\e362";
}
.icon-light-bulb:before {
  content: "\e363";
}
.icon-link-2:before {
  content: "\e364";
}
.icon-link-external:before {
  content: "\e365";
}
.icon-list-ordered:before {
  content: "\e366";
}
.icon-list-unordered:before {
  content: "\e367";
}
.icon-location:before {
  content: "\e368";
}
.icon-lock-2:before {
  content: "\e369";
}
.icon-logo-github:before {
  content: "\e36a";
}
.icon-mail-1:before {
  content: "\e36b";
}
.icon-mail-read:before {
  content: "\e36c";
}
.icon-mail-reply:before {
  content: "\e36d";
}
.icon-mark-github:before {
  content: "\e36e";
}
.icon-markdown:before {
  content: "\e36f";
}
.icon-megaphone-1:before {
  content: "\e370";
}
.icon-mention:before {
  content: "\e371";
}
.icon-microscope:before {
  content: "\e372";
}
.icon-milestone:before {
  content: "\e373";
}
.icon-mirror:before {
  content: "\e374";
}
.icon-mortar-board:before {
  content: "\e375";
}
.icon-move-down:before {
  content: "\e376";
}
.icon-move-left:before {
  content: "\e377";
}
.icon-move-right:before {
  content: "\e378";
}
.icon-move-up:before {
  content: "\e379";
}
.icon-mute:before {
  content: "\e37a";
}
.icon-no-newline:before {
  content: "\e37b";
}
.icon-octoface:before {
  content: "\e37c";
}
.icon-organization:before {
  content: "\e37d";
}
.icon-package:before {
  content: "\e37e";
}
.icon-paintcan:before {
  content: "\e37f";
}
.icon-pencil-2:before {
  content: "\e380";
}
.icon-person:before {
  content: "\e381";
}
.icon-pin:before {
  content: "\e382";
}
.icon-playback-fast-forward:before {
  content: "\e383";
}
.icon-playback-pause:before {
  content: "\e384";
}
.icon-playback-play:before {
  content: "\e385";
}
.icon-playback-rewind:before {
  content: "\e386";
}
.icon-plug-1:before {
  content: "\e387";
}
.icon-plus-2:before {
  content: "\e388";
}
.icon-podium:before {
  content: "\e389";
}
.icon-primitive-dot:before {
  content: "\e38a";
}
.icon-primitive-square:before {
  content: "\e38b";
}
.icon-pulse:before {
  content: "\e38c";
}
.icon-puzzle-1:before {
  content: "\e38d";
}
.icon-question-1:before {
  content: "\e38e";
}
.icon-quote-1:before {
  content: "\e38f";
}
.icon-radio-tower:before {
  content: "\e390";
}
.icon-repo:before {
  content: "\e391";
}
.icon-repo-clone:before {
  content: "\e392";
}
.icon-repo-force-push:before {
  content: "\e393";
}
.icon-repo-forked:before {
  content: "\e394";
}
.icon-repo-pull:before {
  content: "\e395";
}
.icon-repo-push:before {
  content: "\e396";
}
.icon-rocket-1:before {
  content: "\e397";
}
.icon-rss-2:before {
  content: "\e398";
}
.icon-ruby:before {
  content: "\e399";
}
.icon-screen-full:before {
  content: "\e39a";
}
.icon-screen-normal:before {
  content: "\e39b";
}
.icon-search-1:before {
  content: "\e39c";
}
.icon-server-1:before {
  content: "\e39d";
}
.icon-settings:before {
  content: "\e39e";
}
.icon-sign-in-1:before {
  content: "\e39f";
}
.icon-sign-out-1:before {
  content: "\e3a0";
}
.icon-split:before {
  content: "\e3a1";
}
.icon-squirrel:before {
  content: "\e3a2";
}
.icon-star-2:before {
  content: "\e3a3";
}
.icon-steps:before {
  content: "\e3a4";
}
.icon-stop-2:before {
  content: "\e3a5";
}
.icon-sync:before {
  content: "\e3a6";
}
.icon-tag-1:before {
  content: "\e3a7";
}
.icon-telescope:before {
  content: "\e3a8";
}
.icon-terminal-1:before {
  content: "\e3a9";
}
.icon-three-bars:before {
  content: "\e3aa";
}
.icon-tools:before {
  content: "\e3ab";
}
.icon-trashcan:before {
  content: "\e3ac";
}
.icon-triangle-down:before {
  content: "\e3ad";
}
.icon-triangle-left:before {
  content: "\e3ae";
}
.icon-triangle-right:before {
  content: "\e3af";
}
.icon-triangle-up:before {
  content: "\e3b0";
}
.icon-unfold:before {
  content: "\e3b1";
}
.icon-unmute:before {
  content: "\e3b2";
}
.icon-versions:before {
  content: "\e3b3";
}
.icon-x-1:before {
  content: "\e3b4";
}
.icon-zap:before {
  content: "\e3b5";
}
.icon-address:before {
  content: "\e3b6";
}
.icon-adjust-1:before {
  content: "\e3b7";
}
.icon-air:before {
  content: "\e3b8";
}
.icon-alert-2:before {
  content: "\e3b9";
}
.icon-archive-1:before {
  content: "\e3ba";
}
.icon-arrow-combo:before {
  content: "\e3bb";
}
.icon-arrows-ccw:before {
  content: "\e3bc";
}
.icon-attach:before {
  content: "\e3bd";
}
.icon-attention:before {
  content: "\e3be";
}
.icon-back:before {
  content: "\e3bf";
}
.icon-back-in-time:before {
  content: "\e3c0";
}
.icon-bag:before {
  content: "\e3c1";
}
.icon-basket:before {
  content: "\e3c2";
}
.icon-battery:before {
  content: "\e3c3";
}
.icon-behance-1:before {
  content: "\e3c4";
}
.icon-bell-1:before {
  content: "\e3c5";
}
.icon-block:before {
  content: "\e3c6";
}
.icon-book-3:before {
  content: "\e3c7";
}
.icon-book-open:before {
  content: "\e3c8";
}
.icon-bookmark-3:before {
  content: "\e3c9";
}
.icon-bookmarks:before {
  content: "\e3ca";
}
.icon-box:before {
  content: "\e3cb";
}
.icon-briefcase-2:before {
  content: "\e3cc";
}
.icon-brush:before {
  content: "\e3cd";
}
.icon-bucket:before {
  content: "\e3ce";
}
.icon-calendar-3:before {
  content: "\e3cf";
}
.icon-camera-2:before {
  content: "\e3d0";
}
.icon-cancel:before {
  content: "\e3d1";
}
.icon-cancel-circled:before {
  content: "\e3d2";
}
.icon-cancel-squared:before {
  content: "\e3d3";
}
.icon-cc-1:before {
  content: "\e3d4";
}
.icon-cc-by:before {
  content: "\e3d5";
}
.icon-cc-nc:before {
  content: "\e3d6";
}
.icon-cc-nc-eu:before {
  content: "\e3d7";
}
.icon-cc-nc-jp:before {
  content: "\e3d8";
}
.icon-cc-nd:before {
  content: "\e3d9";
}
.icon-cc-pd:before {
  content: "\e3da";
}
.icon-cc-remix:before {
  content: "\e3db";
}
.icon-cc-sa:before {
  content: "\e3dc";
}
.icon-cc-share:before {
  content: "\e3dd";
}
.icon-cc-zero:before {
  content: "\e3de";
}
.icon-ccw:before {
  content: "\e3df";
}
.icon-cd:before {
  content: "\e3e0";
}
.icon-chart-area:before {
  content: "\e3e1";
}
.icon-chart-bar:before {
  content: "\e3e2";
}
.icon-chart-line:before {
  content: "\e3e3";
}
.icon-chart-pie:before {
  content: "\e3e4";
}
.icon-chat:before {
  content: "\e3e5";
}
.icon-check-3:before {
  content: "\e3e6";
}
.icon-clipboard-2:before {
  content: "\e3e7";
}
.icon-clock-2:before {
  content: "\e3e8";
}
.icon-cloud-2:before {
  content: "\e3e9";
}
.icon-cloud-thunder:before {
  content: "\e3ea";
}
.icon-code-2:before {
  content: "\e3eb";
}
.icon-cog-1:before {
  content: "\e3ec";
}
.icon-comment-3:before {
  content: "\e3ed";
}
.icon-compass-2:before {
  content: "\e3ee";
}
.icon-credit-card-3:before {
  content: "\e3ef";
}
.icon-cup:before {
  content: "\e3f0";
}
.icon-cw:before {
  content: "\e3f1";
}
.icon-database-3:before {
  content: "\e3f2";
}
.icon-db-shape:before {
  content: "\e3f3";
}
.icon-direction:before {
  content: "\e3f4";
}
.icon-doc:before {
  content: "\e3f5";
}
.icon-doc-landscape:before {
  content: "\e3f6";
}
.icon-doc-text:before {
  content: "\e3f7";
}
.icon-doc-text-inv:before {
  content: "\e3f8";
}
.icon-docs:before {
  content: "\e3f9";
}
.icon-dot:before {
  content: "\e3fa";
}
.icon-dot-2:before {
  content: "\e3fb";
}
.icon-dot-3:before {
  content: "\e3fc";
}
.icon-down:before {
  content: "\e3fd";
}
.icon-down-bold:before {
  content: "\e3fe";
}
.icon-down-circled:before {
  content: "\e3ff";
}
.icon-down-dir:before {
  content: "\e400";
}
.icon-down-open:before {
  content: "\e401";
}
.icon-down-open-big:before {
  content: "\e402";
}
.icon-down-open-mini:before {
  content: "\e403";
}
.icon-down-thin:before {
  content: "\e404";
}
.icon-download-2:before {
  content: "\e405";
}
.icon-dribbble-1:before {
  content: "\e406";
}
.icon-dribbble-circled:before {
  content: "\e407";
}
.icon-drive:before {
  content: "\e408";
}
.icon-dropbox-1:before {
  content: "\e409";
}
.icon-droplet:before {
  content: "\e40a";
}
.icon-erase:before {
  content: "\e40b";
}
.icon-evernote:before {
  content: "\e40c";
}
.icon-export:before {
  content: "\e40d";
}
.icon-eye-3:before {
  content: "\e40e";
}
.icon-facebook-1:before {
  content: "\e40f";
}
.icon-facebook-circled:before {
  content: "\e410";
}
.icon-facebook-squared:before {
  content: "\e411";
}
.icon-fast-backward-1:before {
  content: "\e412";
}
.icon-fast-forward-2:before {
  content: "\e413";
}
.icon-feather:before {
  content: "\e414";
}
.icon-flag-2:before {
  content: "\e415";
}
.icon-flash:before {
  content: "\e416";
}
.icon-flashlight:before {
  content: "\e417";
}
.icon-flattr:before {
  content: "\e418";
}
.icon-flickr-1:before {
  content: "\e419";
}
.icon-flickr-circled:before {
  content: "\e41a";
}
.icon-flight:before {
  content: "\e41b";
}
.icon-floppy:before {
  content: "\e41c";
}
.icon-flow-branch:before {
  content: "\e41d";
}
.icon-flow-cascade:before {
  content: "\e41e";
}
.icon-flow-line:before {
  content: "\e41f";
}
.icon-flow-parallel:before {
  content: "\e420";
}
.icon-flow-tree:before {
  content: "\e421";
}
.icon-folder-2:before {
  content: "\e422";
}
.icon-forward-1:before {
  content: "\e423";
}
.icon-gauge:before {
  content: "\e424";
}
.icon-github-1:before {
  content: "\e425";
}
.icon-github-circled:before {
  content: "\e426";
}
.icon-globe-2:before {
  content: "\e427";
}
.icon-google-circles:before {
  content: "\e428";
}
.icon-gplus:before {
  content: "\e429";
}
.icon-gplus-circled:before {
  content: "\e42a";
}
.icon-graduation-cap-1:before {
  content: "\e42b";
}
.icon-heart-3:before {
  content: "\e42c";
}
.icon-heart-empty:before {
  content: "\e42d";
}
.icon-help:before {
  content: "\e42e";
}
.icon-help-circled:before {
  content: "\e42f";
}
.icon-home-3:before {
  content: "\e430";
}
.icon-hourglass-2:before {
  content: "\e431";
}
.icon-inbox-2:before {
  content: "\e432";
}
.icon-infinity:before {
  content: "\e433";
}
.icon-info-3:before {
  content: "\e434";
}
.icon-info-circled:before {
  content: "\e435";
}
.icon-instagrem:before {
  content: "\e436";
}
.icon-install:before {
  content: "\e437";
}
.icon-key-3:before {
  content: "\e438";
}
.icon-keyboard-1:before {
  content: "\e439";
}
.icon-lamp:before {
  content: "\e43a";
}
.icon-language-1:before {
  content: "\e43b";
}
.icon-lastfm-1:before {
  content: "\e43c";
}
.icon-lastfm-circled:before {
  content: "\e43d";
}
.icon-layout-1:before {
  content: "\e43e";
}
.icon-leaf-1:before {
  content: "\e43f";
}
.icon-left:before {
  content: "\e440";
}
.icon-left-bold:before {
  content: "\e441";
}
.icon-left-circled:before {
  content: "\e442";
}
.icon-left-dir:before {
  content: "\e443";
}
.icon-left-open:before {
  content: "\e444";
}
.icon-left-open-big:before {
  content: "\e445";
}
.icon-left-open-mini:before {
  content: "\e446";
}
.icon-left-thin:before {
  content: "\e447";
}
.icon-level-down-1:before {
  content: "\e448";
}
.icon-level-up-1:before {
  content: "\e449";
}
.icon-lifebuoy:before {
  content: "\e44a";
}
.icon-light-down:before {
  content: "\e44b";
}
.icon-light-up:before {
  content: "\e44c";
}
.icon-link-3:before {
  content: "\e44d";
}
.icon-linkedin-1:before {
  content: "\e44e";
}
.icon-linkedin-circled:before {
  content: "\e44f";
}
.icon-list-2:before {
  content: "\e450";
}
.icon-list-add:before {
  content: "\e451";
}
.icon-location-1:before {
  content: "\e452";
}
.icon-lock-3:before {
  content: "\e453";
}
.icon-lock-open:before {
  content: "\e454";
}
.icon-login:before {
  content: "\e455";
}
.icon-logo-db:before {
  content: "\e456";
}
.icon-logout:before {
  content: "\e457";
}
.icon-loop-1:before {
  content: "\e458";
}
.icon-magnet-1:before {
  content: "\e459";
}
.icon-mail-2:before {
  content: "\e45a";
}
.icon-map-2:before {
  content: "\e45b";
}
.icon-megaphone-2:before {
  content: "\e45c";
}
.icon-menu:before {
  content: "\e45d";
}
.icon-mic:before {
  content: "\e45e";
}
.icon-minus-2:before {
  content: "\e45f";
}
.icon-minus-circled:before {
  content: "\e460";
}
.icon-minus-squared:before {
  content: "\e461";
}
.icon-mixi:before {
  content: "\e462";
}
.icon-mobile-2:before {
  content: "\e463";
}
.icon-monitor-1:before {
  content: "\e464";
}
.icon-moon:before {
  content: "\e465";
}
.icon-mouse:before {
  content: "\e466";
}
.icon-music-2:before {
  content: "\e467";
}
.icon-mute-1:before {
  content: "\e468";
}
.icon-network:before {
  content: "\e469";
}
.icon-newspaper:before {
  content: "\e46a";
}
.icon-note:before {
  content: "\e46b";
}
.icon-note-beamed:before {
  content: "\e46c";
}
.icon-palette:before {
  content: "\e46d";
}
.icon-paper-plane-1:before {
  content: "\e46e";
}
.icon-pause-2:before {
  content: "\e46f";
}
.icon-paypal-2:before {
  content: "\e470";
}
.icon-pencil-3:before {
  content: "\e471";
}
.icon-phone-1:before {
  content: "\e472";
}
.icon-picasa:before {
  content: "\e473";
}
.icon-picture:before {
  content: "\e474";
}
.icon-pinterest-1:before {
  content: "\e475";
}
.icon-pinterest-circled:before {
  content: "\e476";
}
.icon-play-2:before {
  content: "\e477";
}
.icon-plus-3:before {
  content: "\e478";
}
.icon-plus-circled:before {
  content: "\e479";
}
.icon-plus-squared:before {
  content: "\e47a";
}
.icon-popup:before {
  content: "\e47b";
}
.icon-print-2:before {
  content: "\e47c";
}
.icon-progress-0:before {
  content: "\e47d";
}
.icon-progress-1:before {
  content: "\e47e";
}
.icon-progress-2:before {
  content: "\e47f";
}
.icon-progress-3:before {
  content: "\e480";
}
.icon-publish:before {
  content: "\e481";
}
.icon-qq-1:before {
  content: "\e482";
}
.icon-quote-2:before {
  content: "\e483";
}
.icon-rdio:before {
  content: "\e484";
}
.icon-rdio-circled:before {
  content: "\e485";
}
.icon-record-1:before {
  content: "\e486";
}
.icon-renren-1:before {
  content: "\e487";
}
.icon-reply-1:before {
  content: "\e488";
}
.icon-reply-all-1:before {
  content: "\e489";
}
.icon-resize-full:before {
  content: "\e48a";
}
.icon-resize-small:before {
  content: "\e48b";
}
.icon-retweet-1:before {
  content: "\e48c";
}
.icon-right:before {
  content: "\e48d";
}
.icon-right-bold:before {
  content: "\e48e";
}
.icon-right-circled:before {
  content: "\e48f";
}
.icon-right-dir:before {
  content: "\e490";
}
.icon-right-open:before {
  content: "\e491";
}
.icon-right-open-big:before {
  content: "\e492";
}
.icon-right-open-mini:before {
  content: "\e493";
}
.icon-right-thin:before {
  content: "\e494";
}
.icon-rocket-2:before {
  content: "\e495";
}
.icon-rss-3:before {
  content: "\e496";
}
.icon-search-2:before {
  content: "\e497";
}
.icon-share-2:before {
  content: "\e498";
}
.icon-shareable:before {
  content: "\e499";
}
.icon-shuffle-1:before {
  content: "\e49a";
}
.icon-signal-1:before {
  content: "\e49b";
}
.icon-sina-weibo:before {
  content: "\e49c";
}
.icon-skype-1:before {
  content: "\e49d";
}
.icon-skype-circled:before {
  content: "\e49e";
}
.icon-smashing:before {
  content: "\e49f";
}
.icon-sound-1:before {
  content: "\e4a0";
}
.icon-soundcloud-1:before {
  content: "\e4a1";
}
.icon-spotify-1:before {
  content: "\e4a2";
}
.icon-spotify-circled:before {
  content: "\e4a3";
}
.icon-star-3:before {
  content: "\e4a4";
}
.icon-star-empty:before {
  content: "\e4a5";
}
.icon-stop-3:before {
  content: "\e4a6";
}
.icon-stumbleupon-1:before {
  content: "\e4a7";
}
.icon-stumbleupon-circled:before {
  content: "\e4a8";
}
.icon-suitcase-1:before {
  content: "\e4a9";
}
.icon-sweden:before {
  content: "\e4aa";
}
.icon-switch:before {
  content: "\e4ab";
}
.icon-tag-2:before {
  content: "\e4ac";
}
.icon-tape:before {
  content: "\e4ad";
}
.icon-target-1:before {
  content: "\e4ae";
}
.icon-thermometer:before {
  content: "\e4af";
}
.icon-thumbs-down-1:before {
  content: "\e4b0";
}
.icon-thumbs-up-1:before {
  content: "\e4b1";
}
.icon-ticket-2:before {
  content: "\e4b2";
}
.icon-to-end:before {
  content: "\e4b3";
}
.icon-to-start:before {
  content: "\e4b4";
}
.icon-tools-1:before {
  content: "\e4b5";
}
.icon-traffic-cone:before {
  content: "\e4b6";
}
.icon-trash-2:before {
  content: "\e4b7";
}
.icon-trophy-2:before {
  content: "\e4b8";
}
.icon-tumblr-1:before {
  content: "\e4b9";
}
.icon-tumblr-circled:before {
  content: "\e4ba";
}
.icon-twitter-1:before {
  content: "\e4bb";
}
.icon-twitter-circled:before {
  content: "\e4bc";
}
.icon-up:before {
  content: "\e4bd";
}
.icon-up-bold:before {
  content: "\e4be";
}
.icon-up-circled:before {
  content: "\e4bf";
}
.icon-up-dir:before {
  content: "\e4c0";
}
.icon-up-open:before {
  content: "\e4c1";
}
.icon-up-open-big:before {
  content: "\e4c2";
}
.icon-up-open-mini:before {
  content: "\e4c3";
}
.icon-up-thin:before {
  content: "\e4c4";
}
.icon-upload-2:before {
  content: "\e4c5";
}
.icon-upload-cloud-1:before {
  content: "\e4c6";
}
.icon-user-1:before {
  content: "\e4c7";
}
.icon-user-add:before {
  content: "\e4c8";
}
.icon-users-1:before {
  content: "\e4c9";
}
.icon-vcard:before {
  content: "\e4ca";
}
.icon-video-1:before {
  content: "\e4cb";
}
.icon-vimeo-1:before {
  content: "\e4cc";
}
.icon-vimeo-circled:before {
  content: "\e4cd";
}
.icon-vkontakte:before {
  content: "\e4ce";
}
.icon-volume-1:before {
  content: "\e4cf";
}
.icon-water:before {
  content: "\e4d0";
}
.icon-window:before {
  content: "\e4d1";
}
.icon-align-center-2:before {
  content: "\e4d2";
}
.icon-align-justify-2:before {
  content: "\e4d3";
}
.icon-align-left-2:before {
  content: "\e4d4";
}
.icon-align-right-2:before {
  content: "\e4d5";
}
.icon-archive-2:before {
  content: "\e4d6";
}
.icon-arrow-down-3:before {
  content: "\e4d7";
}
.icon-arrow-left-3:before {
  content: "\e4d8";
}
.icon-arrow-right-3:before {
  content: "\e4d9";
}
.icon-arrow-up-3:before {
  content: "\e4da";
}
.icon-atom:before {
  content: "\e4db";
}
.icon-bag-1:before {
  content: "\e4dc";
}
.icon-bank-notes:before {
  content: "\e4dd";
}
.icon-barbell:before {
  content: "\e4de";
}
.icon-bars-1:before {
  content: "\e4df";
}
.icon-battery-0:before {
  content: "\e4e0";
}
.icon-battery-1:before {
  content: "\e4e1";
}
.icon-battery-2:before {
  content: "\e4e2";
}
.icon-battery-3:before {
  content: "\e4e3";
}
.icon-battery-4:before {
  content: "\e4e4";
}
.icon-battery-power:before {
  content: "\e4e5";
}
.icon-beer-2:before {
  content: "\e4e6";
}
.icon-bolt-1:before {
  content: "\e4e7";
}
.icon-bones:before {
  content: "\e4e8";
}
.icon-book-close:before {
  content: "\e4e9";
}
.icon-book-open-1:before {
  content: "\e4ea";
}
.icon-bookmark-4:before {
  content: "\e4eb";
}
.icon-box-1:before {
  content: "\e4ec";
}
.icon-browser-1:before {
  content: "\e4ed";
}
.icon-bubble:before {
  content: "\e4ee";
}
.icon-bubble-1:before {
  content: "\e4ef";
}
.icon-bubble-2:before {
  content: "\e4f0";
}
.icon-bubble-3:before {
  content: "\e4f1";
}
.icon-bucket-1:before {
  content: "\e4f2";
}
.icon-calculator-1:before {
  content: "\e4f3";
}
.icon-calendar-4:before {
  content: "\e4f4";
}
.icon-camera-3:before {
  content: "\e4f5";
}
.icon-cardiac-pulse:before {
  content: "\e4f6";
}
.icon-cd-1:before {
  content: "\e4f7";
}
.icon-character:before {
  content: "\e4f8";
}
.icon-checkbox-checked:before {
  content: "\e4f9";
}
.icon-checkmark:before {
  content: "\e4fa";
}
.icon-clipboard-3:before {
  content: "\e4fb";
}
.icon-clock-3:before {
  content: "\e4fc";
}
.icon-cloud-3:before {
  content: "\e4fd";
}
.icon-coffee-1:before {
  content: "\e4fe";
}
.icon-comment-4:before {
  content: "\e4ff";
}
.icon-connection-0:before {
  content: "\e500";
}
.icon-connection-1:before {
  content: "\e501";
}
.icon-connection-2:before {
  content: "\e502";
}
.icon-connection-3:before {
  content: "\e503";
}
.icon-connection-4:before {
  content: "\e504";
}
.icon-credit-cards:before {
  content: "\e505";
}
.icon-crop-2:before {
  content: "\e506";
}
.icon-cube-1:before {
  content: "\e507";
}
.icon-diamond-1:before {
  content: "\e508";
}
.icon-download-3:before {
  content: "\e509";
}
.icon-email:before {
  content: "\e50a";
}
.icon-email-plane:before {
  content: "\e50b";
}
.icon-enter:before {
  content: "\e50c";
}
.icon-envelope-1:before {
  content: "\e50d";
}
.icon-eyedropper-1:before {
  content: "\e50e";
}
.icon-file-1:before {
  content: "\e50f";
}
.icon-file-add:before {
  content: "\e510";
}
.icon-file-broken:before {
  content: "\e511";
}
.icon-file-settings:before {
  content: "\e512";
}
.icon-files:before {
  content: "\e513";
}
.icon-flag-3:before {
  content: "\e514";
}
.icon-folder-3:before {
  content: "\e515";
}
.icon-folder-add-1:before {
  content: "\e516";
}
.icon-folder-check:before {
  content: "\e517";
}
.icon-folder-settings:before {
  content: "\e518";
}
.icon-forbidden:before {
  content: "\e519";
}
.icon-frames:before {
  content: "\e51a";
}
.icon-glass-1:before {
  content: "\e51b";
}
.icon-graph-1:before {
  content: "\e51c";
}
.icon-grid:before {
  content: "\e51d";
}
.icon-heart-4:before {
  content: "\e51e";
}
.icon-home-4:before {
  content: "\e51f";
}
.icon-id-card:before {
  content: "\e520";
}
.icon-invoice:before {
  content: "\e521";
}
.icon-ipad:before {
  content: "\e522";
}
.icon-ipad-2:before {
  content: "\e523";
}
.icon-lab:before {
  content: "\e524";
}
.icon-laptop-2:before {
  content: "\e525";
}
.icon-list-3:before {
  content: "\e526";
}
.icon-lock-4:before {
  content: "\e527";
}
.icon-locked:before {
  content: "\e528";
}
.icon-map-3:before {
  content: "\e529";
}
.icon-measure:before {
  content: "\e52a";
}
.icon-meter:before {
  content: "\e52b";
}
.icon-micro:before {
  content: "\e52c";
}
.icon-micro-mute:before {
  content: "\e52d";
}
.icon-microwave:before {
  content: "\e52e";
}
.icon-minus-3:before {
  content: "\e52f";
}
.icon-modem:before {
  content: "\e530";
}
.icon-mute-2:before {
  content: "\e531";
}
.icon-newspaper-1:before {
  content: "\e532";
}
.icon-paperclip-2:before {
  content: "\e533";
}
.icon-pencil-4:before {
  content: "\e534";
}
.icon-phone-2:before {
  content: "\e535";
}
.icon-phone-2-1:before {
  content: "\e536";
}
.icon-phone-3:before {
  content: "\e537";
}
.icon-picture-1:before {
  content: "\e538";
}
.icon-pie-chart-1:before {
  content: "\e539";
}
.icon-pill:before {
  content: "\e53a";
}
.icon-pin-1:before {
  content: "\e53b";
}
.icon-power-1:before {
  content: "\e53c";
}
.icon-printer-1:before {
  content: "\e53d";
}
.icon-printer-2:before {
  content: "\e53e";
}
.icon-refresh-2:before {
  content: "\e53f";
}
.icon-reload:before {
  content: "\e540";
}
.icon-screen:before {
  content: "\e541";
}
.icon-select:before {
  content: "\e542";
}
.icon-set:before {
  content: "\e543";
}
.icon-settings-1:before {
  content: "\e544";
}
.icon-share-3:before {
  content: "\e545";
}
.icon-share-outline:before {
  content: "\e546";
}
.icon-shorts:before {
  content: "\e547";
}
.icon-speaker:before {
  content: "\e548";
}
.icon-star-4:before {
  content: "\e549";
}
.icon-stopwatch:before {
  content: "\e54a";
}
.icon-sun:before {
  content: "\e54b";
}
.icon-syringe:before {
  content: "\e54c";
}
.icon-tag-3:before {
  content: "\e54d";
}
.icon-train-1:before {
  content: "\e54e";
}
.icon-trash-3:before {
  content: "\e54f";
}
.icon-unlocked:before {
  content: "\e550";
}
.icon-user-2:before {
  content: "\e551";
}
.icon-user-outline:before {
  content: "\e552";
}
.icon-users-2:before {
  content: "\e553";
}
.icon-users-outline:before {
  content: "\e554";
}
.icon-volume-2:before {
  content: "\e555";
}
.icon-volume-down-1:before {
  content: "\e556";
}
.icon-volume-up-1:before {
  content: "\e557";
}
.icon-wifi-1:before {
  content: "\e558";
}
.icon-wifi-2:before {
  content: "\e559";
}
.icon-wifi-3:before {
  content: "\e55a";
}
.icon-window-delete:before {
  content: "\e55b";
}
.icon-windows-1:before {
  content: "\e55c";
}
.icon-zoom:before {
  content: "\e55d";
}
.icon-zoom-in-1:before {
  content: "\e55e";
}
.icon-zoom-out-1:before {
  content: "\e55f";
}
.icon-banknote:before {
  content: "\e560";
}
.icon-bubble-4:before {
  content: "\e561";
}
.icon-bulb:before {
  content: "\e562";
}
.icon-calendar-5:before {
  content: "\e563";
}
.icon-camera-4:before {
  content: "\e564";
}
.icon-clip:before {
  content: "\e565";
}
.icon-clock-4:before {
  content: "\e566";
}
.icon-cloud-4:before {
  content: "\e567";
}
.icon-cup-1:before {
  content: "\e568";
}
.icon-data:before {
  content: "\e569";
}
.icon-diamond-2:before {
  content: "\e56a";
}
.icon-display:before {
  content: "\e56b";
}
.icon-eye-4:before {
  content: "\e56c";
}
.icon-fire-1:before {
  content: "\e56d";
}
.icon-food:before {
  content: "\e56e";
}
.icon-heart-5:before {
  content: "\e56f";
}
.icon-key-4:before {
  content: "\e570";
}
.icon-lab-1:before {
  content: "\e571";
}
.icon-like-1:before {
  content: "\e572";
}
.icon-location-2:before {
  content: "\e573";
}
.icon-lock-5:before {
  content: "\e574";
}
.icon-mail-3:before {
  content: "\e575";
}
.icon-megaphone-3:before {
  content: "\e576";
}
.icon-music-3:before {
  content: "\e577";
}
.icon-news:before {
  content: "\e578";
}
.icon-note-1:before {
  content: "\e579";
}
.icon-paperplane:before {
  content: "\e57a";
}
.icon-params:before {
  content: "\e57b";
}
.icon-pen:before {
  content: "\e57c";
}
.icon-phone-4:before {
  content: "\e57d";
}
.icon-photo-1:before {
  content: "\e57e";
}
.icon-search-3:before {
  content: "\e57f";
}
.icon-settings-2:before {
  content: "\e580";
}
.icon-shop:before {
  content: "\e581";
}
.icon-sound-2:before {
  content: "\e582";
}
.icon-stack:before {
  content: "\e583";
}
.icon-star-5:before {
  content: "\e584";
}
.icon-study:before {
  content: "\e585";
}
.icon-t-shirt:before {
  content: "\e586";
}
.icon-tag-4:before {
  content: "\e587";
}
.icon-trash-4:before {
  content: "\e588";
}
.icon-truck-1:before {
  content: "\e589";
}
.icon-tv:before {
  content: "\e58a";
}
.icon-user-3:before {
  content: "\e58b";
}
.icon-vallet:before {
  content: "\e58c";
}
.icon-video-2:before {
  content: "\e58d";
}
.icon-vynil:before {
  content: "\e58e";
}
.icon-world:before {
  content: "\e58f";
}
.icon-aim:before {
  content: "\e590";
}
.icon-aim-alt:before {
  content: "\e591";
}
.icon-amazon-1:before {
  content: "\e592";
}
.icon-app-store:before {
  content: "\e593";
}
.icon-apple-1:before {
  content: "\e594";
}
.icon-arto:before {
  content: "\e595";
}
.icon-aws:before {
  content: "\e596";
}
.icon-baidu:before {
  content: "\e597";
}
.icon-basecamp:before {
  content: "\e598";
}
.icon-bebo:before {
  content: "\e599";
}
.icon-behance-2:before {
  content: "\e59a";
}
.icon-bing:before {
  content: "\e59b";
}
.icon-blip:before {
  content: "\e59c";
}
.icon-blogger:before {
  content: "\e59d";
}
.icon-bnter:before {
  content: "\e59e";
}
.icon-brightkite:before {
  content: "\e59f";
}
.icon-cinch:before {
  content: "\e5a0";
}
.icon-cloudapp:before {
  content: "\e5a1";
}
.icon-coroflot:before {
  content: "\e5a2";
}
.icon-creative-commons-1:before {
  content: "\e5a3";
}
.icon-dailybooth:before {
  content: "\e5a4";
}
.icon-delicious-1:before {
  content: "\e5a5";
}
.icon-designbump:before {
  content: "\e5a6";
}
.icon-designfloat:before {
  content: "\e5a7";
}
.icon-designmoo:before {
  content: "\e5a8";
}
.icon-deviantart-1:before {
  content: "\e5a9";
}
.icon-digg-1:before {
  content: "\e5aa";
}
.icon-digg-alt:before {
  content: "\e5ab";
}
.icon-diigo:before {
  content: "\e5ac";
}
.icon-dribbble-2:before {
  content: "\e5ad";
}
.icon-dropbox-2:before {
  content: "\e5ae";
}
.icon-drupal-1:before {
  content: "\e5af";
}
.icon-dzone:before {
  content: "\e5b0";
}
.icon-ebay:before {
  content: "\e5b1";
}
.icon-ember:before {
  content: "\e5b2";
}
.icon-etsy:before {
  content: "\e5b3";
}
.icon-evernote-1:before {
  content: "\e5b4";
}
.icon-facebook-2:before {
  content: "\e5b5";
}
.icon-facebook-alt:before {
  content: "\e5b6";
}
.icon-facebook-places:before {
  content: "\e5b7";
}
.icon-facto:before {
  content: "\e5b8";
}
.icon-feedburner:before {
  content: "\e5b9";
}
.icon-flickr-2:before {
  content: "\e5ba";
}
.icon-folkd:before {
  content: "\e5bb";
}
.icon-formspring:before {
  content: "\e5bc";
}
.icon-forrst:before {
  content: "\e5bd";
}
.icon-foursquare-1:before {
  content: "\e5be";
}
.icon-friendfeed:before {
  content: "\e5bf";
}
.icon-friendster:before {
  content: "\e5c0";
}
.icon-gdgt:before {
  content: "\e5c1";
}
.icon-github-2:before {
  content: "\e5c2";
}
.icon-github-alt-1:before {
  content: "\e5c3";
}
.icon-goodreads:before {
  content: "\e5c4";
}
.icon-google-1:before {
  content: "\e5c5";
}
.icon-google-buzz:before {
  content: "\e5c6";
}
.icon-google-talk:before {
  content: "\e5c7";
}
.icon-gowalla:before {
  content: "\e5c8";
}
.icon-gowalla-alt:before {
  content: "\e5c9";
}
.icon-grooveshark:before {
  content: "\e5ca";
}
.icon-hacker-news-1:before {
  content: "\e5cb";
}
.icon-hi5:before {
  content: "\e5cc";
}
.icon-hype-machine:before {
  content: "\e5cd";
}
.icon-hyves:before {
  content: "\e5ce";
}
.icon-icq:before {
  content: "\e5cf";
}
.icon-identi:before {
  content: "\e5d0";
}
.icon-instapaper:before {
  content: "\e5d1";
}
.icon-itunes:before {
  content: "\e5d2";
}
.icon-kik:before {
  content: "\e5d3";
}
.icon-krop:before {
  content: "\e5d4";
}
.icon-last:before {
  content: "\e5d5";
}
.icon-linkedin-2:before {
  content: "\e5d6";
}
.icon-linkedin-alt:before {
  content: "\e5d7";
}
.icon-livejournal:before {
  content: "\e5d8";
}
.icon-lovedsgn:before {
  content: "\e5d9";
}
.icon-meetup:before {
  content: "\e5da";
}
.icon-metacafe:before {
  content: "\e5db";
}
.icon-ming:before {
  content: "\e5dc";
}
.icon-mister-wong:before {
  content: "\e5dd";
}
.icon-mixx:before {
  content: "\e5de";
}
.icon-mixx-alt:before {
  content: "\e5df";
}
.icon-mobileme:before {
  content: "\e5e0";
}
.icon-msn-messenger:before {
  content: "\e5e1";
}
.icon-myspace:before {
  content: "\e5e2";
}
.icon-myspace-alt:before {
  content: "\e5e3";
}
.icon-newsvine:before {
  content: "\e5e4";
}
.icon-official:before {
  content: "\e5e5";
}
.icon-openid-1:before {
  content: "\e5e6";
}
.icon-orkut:before {
  content: "\e5e7";
}
.icon-pandora:before {
  content: "\e5e8";
}
.icon-path:before {
  content: "\e5e9";
}
.icon-paypal-3:before {
  content: "\e5ea";
}
.icon-photobucket:before {
  content: "\e5eb";
}
.icon-picasa-1:before {
  content: "\e5ec";
}
.icon-picassa:before {
  content: "\e5ed";
}
.icon-pinboard:before {
  content: "\e5ee";
}
.icon-ping:before {
  content: "\e5ef";
}
.icon-pingchat:before {
  content: "\e5f0";
}
.icon-playstation:before {
  content: "\e5f1";
}
.icon-plixi:before {
  content: "\e5f2";
}
.icon-plurk:before {
  content: "\e5f3";
}
.icon-podcast:before {
  content: "\e5f4";
}
.icon-posterous:before {
  content: "\e5f5";
}
.icon-qik:before {
  content: "\e5f6";
}
.icon-quik:before {
  content: "\e5f7";
}
.icon-quora:before {
  content: "\e5f8";
}
.icon-rdio-1:before {
  content: "\e5f9";
}
.icon-readernaut:before {
  content: "\e5fa";
}
.icon-reddit-1:before {
  content: "\e5fb";
}
.icon-retweet-2:before {
  content: "\e5fc";
}
.icon-robo:before {
  content: "\e5fd";
}
.icon-rss-4:before {
  content: "\e5fe";
}
.icon-scribd:before {
  content: "\e5ff";
}
.icon-sharethis:before {
  content: "\e600";
}
.icon-simplenote:before {
  content: "\e601";
}
.icon-skype-2:before {
  content: "\e602";
}
.icon-slashdot:before {
  content: "\e603";
}
.icon-slideshare-1:before {
  content: "\e604";
}
.icon-smugmug:before {
  content: "\e605";
}
.icon-soundcloud-2:before {
  content: "\e606";
}
.icon-spotify-2:before {
  content: "\e607";
}
.icon-squarespace:before {
  content: "\e608";
}
.icon-squidoo:before {
  content: "\e609";
}
.icon-steam-1:before {
  content: "\e60a";
}
.icon-stumbleupon-2:before {
  content: "\e60b";
}
.icon-technorati:before {
  content: "\e60c";
}
.icon-threewords:before {
  content: "\e60d";
}
.icon-tribe:before {
  content: "\e60e";
}
.icon-tripit:before {
  content: "\e60f";
}
.icon-tumblr-2:before {
  content: "\e610";
}
.icon-twitter-2:before {
  content: "\e611";
}
.icon-twitter-alt:before {
  content: "\e612";
}
.icon-vcard-1:before {
  content: "\e613";
}
.icon-viddler:before {
  content: "\e614";
}
.icon-vimeo-2:before {
  content: "\e615";
}
.icon-virb:before {
  content: "\e616";
}
.icon-w3:before {
  content: "\e617";
}
.icon-whatsapp-1:before {
  content: "\e618";
}
.icon-wikipedia:before {
  content: "\e619";
}
.icon-windows-2:before {
  content: "\e61a";
}
.icon-wists:before {
  content: "\e61b";
}
.icon-wordpress-1:before {
  content: "\e61c";
}
.icon-wordpress-alt:before {
  content: "\e61d";
}
.icon-xing-1:before {
  content: "\e61e";
}
.icon-yahoo-1:before {
  content: "\e61f";
}
.icon-yahoo-buzz:before {
  content: "\e620";
}
.icon-yahoo-messenger:before {
  content: "\e621";
}
.icon-yelp-1:before {
  content: "\e622";
}
.icon-youtube-1:before {
  content: "\e623";
}
.icon-youtube-alt:before {
  content: "\e624";
}
.icon-zerply:before {
  content: "\e625";
}
.icon-zootool:before {
  content: "\e626";
}
.icon-zynga:before {
  content: "\e627";
}
.icon-armchair-chair-streamline:before {
  content: "\e628";
}
.icon-arrow-streamline-target:before {
  content: "\e629";
}
.icon-backpack-streamline-trekking:before {
  content: "\e62a";
}
.icon-bag-shopping-streamline:before {
  content: "\e62b";
}
.icon-barbecue-eat-food-streamline:before {
  content: "\e62c";
}
.icon-barista-coffee-espresso-streamline:before {
  content: "\e62d";
}
.icon-bomb-bug:before {
  content: "\e62e";
}
.icon-book-dowload-streamline:before {
  content: "\e62f";
}
.icon-book-read-streamline:before {
  content: "\e630";
}
.icon-browser-streamline-window:before {
  content: "\e631";
}
.icon-brush-paint-streamline:before {
  content: "\e632";
}
.icon-bubble-comment-streamline-talk:before {
  content: "\e633";
}
.icon-bubble-love-streamline-talk:before {
  content: "\e634";
}
.icon-caddie-shop-shopping-streamline:before {
  content: "\e635";
}
.icon-caddie-shopping-streamline:before {
  content: "\e636";
}
.icon-camera-photo-polaroid-streamline:before {
  content: "\e637";
}
.icon-camera-photo-streamline:before {
  content: "\e638";
}
.icon-camera-streamline-video:before {
  content: "\e639";
}
.icon-chaplin-hat-movie-streamline:before {
  content: "\e63a";
}
.icon-chef-food-restaurant-streamline:before {
  content: "\e63b";
}
.icon-clock-streamline-time:before {
  content: "\e63c";
}
.icon-cocktail-mojito-streamline:before {
  content: "\e63d";
}
.icon-coffee-streamline:before {
  content: "\e63e";
}
.icon-computer-imac:before {
  content: "\e63f";
}
.icon-computer-imac-2:before {
  content: "\e640";
}
.icon-computer-macintosh-vintage:before {
  content: "\e641";
}
.icon-computer-network-streamline:before {
  content: "\e642";
}
.icon-computer-streamline:before {
  content: "\e643";
}
.icon-cook-pan-pot-streamline:before {
  content: "\e644";
}
.icon-crop-streamline:before {
  content: "\e645";
}
.icon-crown-king-streamline:before {
  content: "\e646";
}
.icon-danger-death-delete-destroy-skull-stream:before {
  content: "\e647";
}
.icon-dashboard-speed-streamline:before {
  content: "\e648";
}
.icon-database-streamline:before {
  content: "\e649";
}
.icon-delete-garbage-streamline:before {
  content: "\e64a";
}
.icon-design-graphic-tablet-streamline-tablet:before {
  content: "\e64b";
}
.icon-design-pencil-rule-streamline:before {
  content: "\e64c";
}
.icon-diving-leisure-sea-sport-streamline:before {
  content: "\e64d";
}
.icon-drug-medecine-streamline-syringue:before {
  content: "\e64e";
}
.icon-earth-globe-streamline:before {
  content: "\e64f";
}
.icon-eat-food-fork-knife-streamline:before {
  content: "\e650";
}
.icon-eat-food-hotdog-streamline:before {
  content: "\e651";
}
.icon-edit-modify-streamline:before {
  content: "\e652";
}
.icon-email-mail-streamline:before {
  content: "\e653";
}
.icon-envellope-mail-streamline:before {
  content: "\e654";
}
.icon-eye-dropper-streamline:before {
  content: "\e655";
}
.icon-factory-lift-streamline-warehouse:before {
  content: "\e656";
}
.icon-first-aid-medecine-shield-streamline:before {
  content: "\e657";
}
.icon-food-ice-cream-streamline:before {
  content: "\e658";
}
.icon-frame-picture-streamline:before {
  content: "\e659";
}
.icon-grid-lines-streamline:before {
  content: "\e65a";
}
.icon-handle-streamline-vector:before {
  content: "\e65b";
}
.icon-happy-smiley-streamline:before {
  content: "\e65c";
}
.icon-headset-sound-streamline:before {
  content: "\e65d";
}
.icon-home-house-streamline:before {
  content: "\e65e";
}
.icon-ibook-laptop:before {
  content: "\e65f";
}
.icon-ink-pen-streamline:before {
  content: "\e660";
}
.icon-ipad-streamline:before {
  content: "\e661";
}
.icon-iphone-streamline:before {
  content: "\e662";
}
.icon-ipod-mini-music-streamline:before {
  content: "\e663";
}
.icon-ipod-music-streamline:before {
  content: "\e664";
}
.icon-ipod-streamline:before {
  content: "\e665";
}
.icon-japan-streamline-tea:before {
  content: "\e666";
}
.icon-laptop-macbook-streamline:before {
  content: "\e667";
}
.icon-like-love-streamline:before {
  content: "\e668";
}
.icon-link-streamline:before {
  content: "\e669";
}
.icon-lock-locker-streamline:before {
  content: "\e66a";
}
.icon-locker-streamline-unlock:before {
  content: "\e66b";
}
.icon-macintosh:before {
  content: "\e66c";
}
.icon-magic-magic-wand-streamline:before {
  content: "\e66d";
}
.icon-magnet-streamline:before {
  content: "\e66e";
}
.icon-man-people-streamline-user:before {
  content: "\e66f";
}
.icon-map-pin-streamline:before {
  content: "\e670";
}
.icon-map-streamline-user:before {
  content: "\e671";
}
.icon-micro-record-streamline:before {
  content: "\e672";
}
.icon-monocle-mustache-streamline:before {
  content: "\e673";
}
.icon-music-note-streamline:before {
  content: "\e674";
}
.icon-music-speaker-streamline:before {
  content: "\e675";
}
.icon-notebook-streamline:before {
  content: "\e676";
}
.icon-paint-bucket-streamline:before {
  content: "\e677";
}
.icon-painting-pallet-streamline:before {
  content: "\e678";
}
.icon-painting-roll-streamline:before {
  content: "\e679";
}
.icon-pen-streamline:before {
  content: "\e67a";
}
.icon-pen-streamline-1:before {
  content: "\e67b";
}
.icon-pen-streamline-2:before {
  content: "\e67c";
}
.icon-pen-streamline-3:before {
  content: "\e67d";
}
.icon-photo-pictures-streamline:before {
  content: "\e67e";
}
.icon-picture-streamline:before {
  content: "\e67f";
}
.icon-picture-streamline-1:before {
  content: "\e680";
}
.icon-receipt-shopping-streamline:before {
  content: "\e681";
}
.icon-remote-control-streamline:before {
  content: "\e682";
}
.icon-settings-streamline:before {
  content: "\e683";
}
.icon-settings-streamline-1:before {
  content: "\e684";
}
.icon-settings-streamline-2:before {
  content: "\e685";
}
.icon-shoes-snickers-streamline:before {
  content: "\e686";
}
.icon-speech-streamline-talk-user:before {
  content: "\e687";
}
.icon-stamp-streamline:before {
  content: "\e688";
}
.icon-streamline-suitcase-travel:before {
  content: "\e689";
}
.icon-streamline-sync:before {
  content: "\e68a";
}
.icon-streamline-umbrella-weather:before {
  content: "\e68b";
}
.icon-airport-circled:before {
  content: "\e68c";
}
.icon-airport-plane:before {
  content: "\e68d";
}
.icon-bicycle-1:before {
  content: "\e68e";
}
.icon-bullet-train:before {
  content: "\e68f";
}
.icon-bullet-train-outline-tunnleded:before {
  content: "\e690";
}
.icon-bullet-train-tunneled:before {
  content: "\e691";
}
.icon-bus-1:before {
  content: "\e692";
}
.icon-bus-terminal:before {
  content: "\e693";
}
.icon-bus-terminal-two:before {
  content: "\e694";
}
.icon-bus-two:before {
  content: "\e695";
}
.icon-car-front:before {
  content: "\e696";
}
.icon-car-side:before {
  content: "\e697";
}
.icon-clock-outline:before {
  content: "\e698";
}
.icon-clock-solid:before {
  content: "\e699";
}
.icon-disabled:before {
  content: "\e69a";
}
.icon-disabled-circled:before {
  content: "\e69b";
}
.icon-funicular:before {
  content: "\e69c";
}
.icon-hanged-cabins:before {
  content: "\e69d";
}
.icon-hospital:before {
  content: "\e69e";
}
.icon-metro-line-one:before {
  content: "\e69f";
}
.icon-metro-line-three:before {
  content: "\e6a0";
}
.icon-metro-line-two:before {
  content: "\e6a1";
}
.icon-metro-one:before {
  content: "\e6a2";
}
.icon-metro-three:before {
  content: "\e6a3";
}
.icon-metro-two:before {
  content: "\e6a4";
}
.icon-monorail:before {
  content: "\e6a5";
}
.icon-monorail-outline-tunneled:before {
  content: "\e6a6";
}
.icon-monorail-tunneled:before {
  content: "\e6a7";
}
.icon-motorcycle-1:before {
  content: "\e6a8";
}
.icon-parking:before {
  content: "\e6a9";
}
.icon-pedestrian:before {
  content: "\e6aa";
}
.icon-police:before {
  content: "\e6ab";
}
.icon-police-1:before {
  content: "\e6ac";
}
.icon-regional-railways:before {
  content: "\e6ad";
}
.icon-regional-railways-two:before {
  content: "\e6ae";
}
.icon-rent-car-front:before {
  content: "\e6af";
}
.icon-rent-car-side:before {
  content: "\e6b0";
}
.icon-s-bahn:before {
  content: "\e6b1";
}
.icon-s-bahn-line:before {
  content: "\e6b2";
}
.icon-scooter:before {
  content: "\e6b3";
}
.icon-ship-1:before {
  content: "\e6b4";
}
.icon-sky-train:before {
  content: "\e6b5";
}
.icon-street-crossing:before {
  content: "\e6b6";
}
.icon-taxi-front:before {
  content: "\e6b7";
}
.icon-taxi-park-front:before {
  content: "\e6b8";
}
.icon-taxi-park-side:before {
  content: "\e6b9";
}
.icon-taxi-side:before {
  content: "\e6ba";
}
.icon-tram:before {
  content: "\e6bb";
}
.icon-tram-depot:before {
  content: "\e6bc";
}
.icon-tram-depot-two:before {
  content: "\e6bd";
}
.icon-tram-outline-tunneled:before {
  content: "\e6be";
}
.icon-tram-tunneled:before {
  content: "\e6bf";
}
.icon-tram-two:before {
  content: "\e6c0";
}
.icon-tree-outline:before {
  content: "\e6c1";
}
.icon-tree-solid:before {
  content: "\e6c2";
}
.icon-trolleybus:before {
  content: "\e6c3";
}
.icon-trolleybus-depot:before {
  content: "\e6c4";
}
.icon-trolleybus-depot-two:before {
  content: "\e6c5";
}
.icon-trolleybus-two:before {
  content: "\e6c6";
}
.icon-truck-2:before {
  content: "\e6c7";
}
.icon-u-bahn:before {
  content: "\e6c8";
}
.icon-u-bahn-line:before {
  content: "\e6c9";
}
.icon-attachment:before {
  content: "\e6ca";
}
.icon-daptorik:before {
  content: "\e6cb";
}
.icon-id:before {
  content: "\e6cc";
}
.icon-id-h:before {
  content: "\e6cd";
}
.icon-label:before {
  content: "\e6ce";
}
.icon-nagorik:before {
  content: "\e6cf";
}
.icon-nothi-jat:before {
  content: "\e6d0";
}
.icon-nothi-jato:before {
  content: "\e6d1";
}
.icon-nothi-presented:before {
  content: "\e6d2";
}
.icon-nothi-uposthapito:before {
  content: "\e6d3";
}
.icon-search-4:before {
  content: "\e6d4";
}
