@font-face {
  font-family: "SolaimanLipi";
  src: url("../fonts/SolaimanLipi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body, .tooltip, .bn {
  font-family: SolaimanLipi, Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.badge-info-soft {background: #cdf3ff;color: #00000088}

.badge-dark-soft {background: #f1f1f1;color: #00000088}

.badge-info-soft {background: #e9edeb;color: #00000088}

.badge-dark-sm-soft {background: #e1e1e1;color: #00000088}

body.login {
  background-image: url(../images/bg_image.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #cde7a8;
  background-repeat: no-repeat;
}

.btn:focus, .btn.focus {
  box-shadow: 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.label-100 {
  width: 100px;
}

.bg-primary-tr {
  background-color: rgba(75, 141, 248, .8)
}

.bg-info-tr {
  background-color: rgba(99, 194, 222, .8)
}

.bg-dark-tr {
  background-color: rgba(0, 0, 0, .8)
}

.bg-light-tr {
  background-color: rgba(255, 255, 255, .8)
}

.fg-green {color: green;}

.fg-purple {color: purple;}

.fg-blue {color: blue;}

.fg-orange {color: darkorange;}

.bg-green {color: green;}

.bg-purple {color: purple;}

.bg-blue {color: blue;}

.bg-darkorange {background: darkorange;}

.dropdown-item img {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
  margin-left: -10px;
  color: #73818f;
  text-align: center;
}

.nothi-dropdown .dropdown-item {
  border-bottom: none;
  padding: 2px 15px;
}

.login-form {
  width: 350px;
}

.login-form .hidden {
  display: none;
}

.login-form .alert {
  display: none;
}

.partners {
  position: absolute;
  bottom: 0;
  padding: 5px;
  width: 100%;
  left: 0;
}

.main .container-fluid {
  padding: 0 15px;
}

.text-violate {
  color: #68328f !important;
}

.bg-violate {
  background-color: #68328f !important;
}

.text-green {
  color: #80b441 !important;
}

.bg-green {
  background-color: #80b441 !important;
}

.text-yellow {
  color: #ffc107 !important;
}

.bg-yellow {
  background-color: #ffc107 !important;
}

.btn-green {
  color: #ffffff;
  background-color: #80b441;
  border-color: #80b441;
}

.btn-green:hover {
  color: #ffffff;
  background-color: #589113;
  border-color: #589113;
}

.btn-violate {
  color: #ffffff;
  background-color: #68328f;
  border-color: #68328f;
}

.btn-violate:hover {
  color: #ffffff;
  background-color: #5f2d82;
  border-color: #5f2d82;
}

.btn-yellow {
  color: #ffffff;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-yellow:hover {
  color: #ffffff;
  background-color: #f4da00;
  border-color: #f4da00;
}

.badge-off-white {
  color: #00000088;
  background-color: #fff5d9;
}

/*btn*/
.btn-green-o {
  color: #589113;
  background-color: transparent;
  border-color: transparent;
}

.btn-green-o:hover {
  color: #ffffff;
  background-color: #589113;
  border-color: #589113;
}

.btn-violate-o {
  color: #5f2d82;
  background-color: transparent;
  border-color: transparent;
}

.btn-violate-o:hover {
  color: #ffffff;
  background-color: #5f2d82;
  border-color: #5f2d82;
}

.btn-yellow-o {
  color: #ffc107;
  background-color: transparent;
  border-color: transparent;
}

.btn-yellow-o:hover {
  color: #ffffff;
  background-color: #f4da00;
  border-color: #f4da00;
}

.btn-danger-o {
  color: #f86c6b;
  background-color: transparent;
  border-color: transparent;
}

.btn-danger-o:hover {
  color: #ffffff;
  background-color: #f86c6b;
  border-color: #f86c6b;
}

.btn-light-o {
  color: #aaaaaa;
  background-color: transparent;
  border-color: transparent;
}

.btn-light-o:hover {
  color: #ffffff;
  background-color: #aaaaaa;
  border-color: #aaaaaa;
}

.btn-dark-o {
  color: #555555;
  background-color: transparent;
  border-color: transparent;
}

.btn-dark-o:hover {
  border-color: #555555;
}

.zindex {
  z-index: 999;
}

.form-control:focus {
  box-shadow: 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus,
.btn-light:focus, .btn-light.focus {
  box-shadow: 0 0 0.2rem rgba(240, 243, 245, 0.5);
}

.mh-120 {max-height: 120px}

.mh-300 {max-height: 300px}

.search-user-designation {
  background-color: #ffffff;
}

.collapse-custom {
  display: none;
}

.collapse-custom .select2-container {
  border-bottom: 1px solid #e4e7ea;
  width: 100% !important;
}

.collapse-custom .select2-container--default .select2-selection--single {
  border: none;
}

.select2-container .select2-selection--single {
  height: 26px;
}

.email-app nav .nav-link img, .email-app nav .nav-link object, .email-app nav .nav-link svg {
  width: 16px;
  height: auto;
  margin: 0 14px 0 0;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

.nav-link img {
  height: 40px;
}

.email-app .nav-link img {
  height: 24px;
}

.email-app .nav-link {transition: all .3s;}

.email-app .nav-link:hover {background: #fafafa}

.nav-child.nav {
  padding-left: 5px;
  display: none;
}

.has-child * {
  transition: none;
}

.has-child i.toggler {
  position: absolute;
  left: -10px;
  padding: 13px 10px;
  cursor: pointer;
}

.email-app nav {
  flex: 0 0 250px;
}

.email-app .inbox .toolbar {
  border-bottom: none;
}

.email-app .tab-content {
  border-left: none;
  border-right: none;
  border-bottom: 0;
}

.email-app .tab-content .tab-pane {
  padding: 0;
}

.email-app .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #23282c;
}

.email-app .btn-group object {
  vertical-align: middle;
  cursor: pointer;
}

.email-app .custom-control-label::after,
.email-app .custom-control-label::before {
  top: -10px;
  left: -24px;
}

.email-app .inbox .message .header {
  margin-bottom: 0;
}

.email-app .nav-item option path {
  fill: #6d3993;
}

.fill-violate path {
  fill: #6d3993 !important;
}

.fill-yellow path {
  fill: #ffc107 !important;
}

.fill-light path {
  fill: #cccccc !important;
}

.daak-inbox-tab .nav-item object {
  height: 16px;
  vertical-align: middle;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.email-app .inbox .message.read {
  background-color: #87d0df17;
}

.email-app .inbox .message:hover {
  box-shadow: 0 0 10px 0 #dddddd;
  border-bottom-color: transparent;
}

.email-app .inbox .message:hover:not(.read) {
  background: transparent;
}

.email-app .action-group {
  visibility: hidden;
  transition: all .3s;
  opacity: 0;
}

.email-app .message .action-group {
  visibility: visible;
  opacity: 1;
}

.email-app .inbox .message:hover .action-group {
  visibility: visible;
  opacity: 1;
}

.attach {
  width: 180px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #eeeeee;
  margin-bottom: 15px;
  margin-right: 15px;
  position: relative;
}

.attach_preview {
}

.title-caption {
  padding: 5px 10px;
  border-top: 1px solid #eeeeee;
}

.attach.image .attach_download {
  background-color: #00000050;
  color: #ffffff;
}

.attach_download {
  background-color: #eeeeee;
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #777777;
  padding: 10px;
  transition: all .2s;
}

.attach:hover .attach_download {
  visibility: visible;
  opacity: 1;
}

.attach_download obj_icon {
  padding-right: 4px;
}

.name_size p {
  line-height: 1.2;
  margin-bottom: 5px;
  max-height: 34px;
  overflow: hidden;
}

.download_link a.btn {
  position: relative;
  z-index: 99;
}

.download_link a.fencybox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.email-app .message .details .header .from span {
  display: inline-block;
}

.daak_sender_info {
  position: absolute;
  width: 350px;
  padding: 10px;
  border: 1px solid #dddddd;
  background: #ffffff;
  left: 0;
  top: calc(100% + 10px);
  display: none;
}

.daak_sender {
  position: relative;
}

span.daak_sender_btn {
  width: 14px;
  height: 14px;
  line-height: 1;
  transition: all .2s;
  cursor: pointer;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
}

span.daak_sender_btn:hover {
  background-color: #555555;
  color: #ffffff;
}

.email-app .nav-dropdown .dropdown-item {
  background-color: #f0f3f570;
}

.email-app .nav-dropdown .dropdown-item:focus, .email-app .nav-dropdown .dropdown-item:hover {
  background-color: #f0f3f5;
}

.email-app .nav-dropdown .dropdown-toggle:after {
  display: none;
}

.heading-1 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.heading-2 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
}

.sender_list li {}

.list_button .badge {font-weight: 100;cursor: pointer;}

.list_button .btn, .list_button .badge {display: none;}

.sender_list li:hover .list_button .btn {display: inline-block;}

.list-group li:hover .list_button .btn {display: inline-block;}

.sender_list.main_selected .btn_main {display: none !important;}

.sender_list.main_selected .has_main .btn {display: none !important;}

.sender_list.main_selected .has_main .badge.label_main {display: block !important;}

.sender_list .has_copy .btn {display: none !important;}

.sender_list .has_copy .badge.label_copy {display: block !important;}

.search_sender {position: relative;}

.pScroll.dropdown-menu {width: 100%;line-height: 1;max-height: 300px;}

.pScroll.dropdown-menu .dropdown-item {background: #fafafa;}

.pScroll.dropdown-menu .dropdown-item:hover {background: #f3f3f3;}

.pScroll.dropdown-menu .dropdown-item h5 {margin-bottom: 0;}

.pScroll.dropdown-menu .dropdown-item img {
  width: 34px;
  border-radius: 50%;
}

.search_sender .input-group-append > div {min-width: 150px;}

.search_sender #adv_search_cancel {border-top-right-radius: 0.25rem;border-bottom-right-radius: 0.25rem;}

.search_sender .hide {display: none;}

.search_sender .hide.show {display: block;}

.search_sender .select2-container {height: 100%;width: 100% !important;}

.search_sender .select2-container .select2-selection--single {height: 100%;border-radius: unset;border: 1px solid #ddd;border-right: none;display: flex;align-items: center;}

.search-group > div .select2-container .select2-selection--single {border-radius: unset;}

.search-group > div:first-child .select2-container .select2-selection--single {border-top-left-radius: 4px;border-bottom-left-radius: 4px;}

.search-group .select2-container .select2-selection--single {border-right: none;}

.search-group > div:last-child .select2-container .select2-selection--single {border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-right: 1px solid #e4e7ea;}

.search_sender .show-border .select2-container .select2-selection--single {border-right: 1px solid #ddd;}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 4px;
}

.search_sender input {border: 1px solid #e4e7ea;border-right: none;}

.lh-0 {line-height: normal;}

.badge-close {font-style: normal;vertical-align: middle;}

.daptorik_2 {display: none;}

.daptorik_back {display: none;}

.daptorik_save {display: none;}

.form-section {margin-bottom: 20px;}

.upload_gallery div.d-flex > div {width: 114px;height: 96px;display: flex;justify-content: center;align-items: center;border: 1px solid #dddddd;position: relative;overflow: hidden;}

.upload_gallery div.d-flex > div i.fa {font-size: 48px;}

.upload_gallery div.d-flex > div img {min-height: 100%;max-height: 100%;max-width: unset}

.upload_gallery i.fa-close {
  font-size: 10px !important;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.upload_gallery i.fa-close:hover {
  background-color: #eeeeee;
}

.upload_gallery .up_item:hover i.fa-close {
  visibility: visible;
  opacity: 1;
}

.upload_gallery i.fa-close:focus, .upload_gallery i.fa-close:active {
  background-color: #dddddd;
}

.dropdown-menu {margin: 0;}

.toolbar-left button {margin-right: 5px;}

.content img {max-width: 100%;margin-bottom: 20px;}

.content iframe, .content object {max-width: 100%;min-height: 500px;margin-bottom: 20px;min-width: 900px;}

.check-default .custom-control-label::before, .check-default .custom-control-label::after {top: .10rem !important;}

.daak_movement.hidden {display: none;}

.daak_movement .list-group-item {background-color: transparent;}

.pScroll {position: relative;}

.pScroll .ps__rail-y {opacity: .1;}

.daak_btns.hidden {display: none;}

.timeline-horizontal {position: relative;}

.timeline-horizontal:after {position: absolute;content: '';height: 3px;background-color: #ddd;width: 100%;top: 303px;z-index: 1;}

.timeline-horizontal .timeline-items {position: relative;z-index: 9;}

.timeline-items { }

.timeline-items .timeline-item p {margin-bottom: 0;}

.timeline-items .timeline-item .tl_sender p {font-weight: bold;}

.timeline-items .timeline-item {width: 360px;margin-left: 40px;margin-right: 40px;position: relative;margin-top: 0px;}

.timeline-items .timeline-item .item-wrap {width: 100%;border: 1px solid #ddd;border-radius: 3px;box-shadow: 0 0 10px #00000055;padding: 10px;background-color: #fff;margin-top: 20px;line-height: 1;overflow: hidden;}

.timeline-items .timeline-item .item-wrap .pScroll {max-height: 160px;}

.timeline-items .timeline-item .item-wrap table td, .timeline-items .timeline-item .item-wrap table th {vertical-align: top;}

.timeline-items .timeline-item .circle:after {content: '';background-color: #fff;box-shadow: 0 0 10px #00000055;border-radius: 50%;width: 10px;height: 10px;display: block;margin: 4px 0 0 55px;}

.tl_sender {line-height: 1;padding: 10px;border-radius: 3px;box-shadow: 0 0 10px #00000055;background-color: #fff;position: relative;margin-bottom: 22px;height: 93px;}

.tl_sender span.badge {font-size: 12px;}

.tl_sender:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 8px 0 8px;
  border-color: #fff transparent transparent transparent;
  content: '';
  filter: drop-shadow(0px 3px 3px #00000044);
  position: absolute;
  bottom: -16px;
  left: 52px;
}

.tl_sender img {
  max-width: 42px;
  border-radius: 50%;
  margin-right: 10px;
}

.timeline-items .timeline-item .tl_date {margin-left: 50px;}

.timeline-items .timeline-item .tl_sender:after {transition: all .2s}

.timeline-items .timeline-item:hover .tl_sender:after {border-color: #fafafa transparent transparent transparent;}

.timeline-items .timeline-item .circle:after, .timeline-items .timeline-item .item-wrap, .timeline-items .timeline-item .tl_sender {transition: all .2s}

.timeline-items .timeline-item:hover .tl_sender, .timeline-items .timeline-item:hover .circle:after, .timeline-items .timeline-item:hover .item-wrap {background-color: #fafafa;}

.navbar-nav.h-left .nav-item {border: 1px solid transparent;transition: all .3s;height: 34px;}

.navbar-nav.h-left .nav-item .nav-link {padding: 5px 10px;}

.navbar-nav.h-left .nav-item:hover, .navbar-nav.h-left .nav-item.active {border: 1px solid #ddd;}

[class^='fi-'] {line-height: 1;}

[class*=" icofont-"], [class^=icofont-] {line-height: inherit;}

.daak-report {border: 1px solid #ddd;}

.daak-report .thead-light th {white-space: nowrap;}

.daak-report .w-150 {min-width: 150px;width: 150px;}

.daak-report .w-200 {min-width: 200px;width: 200px;}

.daak-report .w-250 {min-width: 250px;width: 250px;}

.table .thead-light th {vertical-align: middle;}

.table th, .table td,
.table.tbl-center th, .table.tbl-center td {text-align: center;vertical-align: middle}

.table.tbl-left th, .table.tbl-left td {text-align: left;}

.table.vline-top th, .table.vline-top td {vertical-align: top;}

.label-row i.fa {cursor: pointer;}

.w-200 {min-width: 200px;width: 200px;}

.w-250 {min-width: 250px;width: 250px;}

.w-300 {min-width: 300px;width: 300px;}

/*pop-data*/
#pop-data {position: fixed;top: 0;left: 0; width: 100%;height: 100%;background: #00000055; padding: 10px 10%;}

#pop-data main {background: #fff; padding: 20px;}

.toggle-data .add-nothi-btn i, .toggle-data .add-nothi-btn span, .toggle-data .list-data {display: none;}

.toggle-data .list-data.showing {display: block;}

.toggle-data .add-nothi-btn i.showing, .toggle-data .add-nothi-btn span.showing {display: inline-block;}

/*select2*/
.select2-container {width: 100% !important;}

.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 34px;
  height: 100%;}

.select2-container .select2-selection--single {height: 34px;border: 1px solid #e4e7ea;}

/*select2*/

.shadow2 {box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.2)}

button.close {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  line-height: 1;
}

.tab-navs {max-width: 100%;width: 200px;}

.tab-navs li.nav-item a {border-bottom: 1px solid #ddd;background: #f1f1f1;transition: all .3s;}

.tab-navs li.nav-item a:hover, .tab-navs li.nav-item a.active {background: #fafafa}

.tab-navs li.nav-item:last-child {border-bottom: none;}

.settings-panel .tab-content {border-radius: 0;border: none;}

.settings-panel .tab-navs h4 {background: #156e8d;color: #fff;padding: 5px 10px 5px 1rem;cursor: pointer;}

.list-group-item:not(.editable) .action-btns {visibility: hidden;opacity: 0;transition: all .3s;}

.list-group-item:hover .action-btns {visibility: visible;opacity: 1;}

.list-group-item .hide {display: none;}

.list-group-item .show {display: inline-block;}

.list-group-item.editable .hide {display: inline-block;}

.list-group-item.editable .show {display: none;}

.search_officer {display: none;}

.show_notes {position: absolute;top: 0;background: #fff;padding: 15px;z-index: -1;width: 100%;transform: scale(.5);opacity: 0;transition: ease-in-out .3s;}

.show_notes.showing {transform: scale(1);opacity: 1;z-index: 9;}

.nothi_note tbody tr {cursor: pointer;}

.nothi_note tbody tr.active, .nothi_note tbody tr:hover {background: #f9faba;}

.nav_service_dd a {border: 1px solid transparent;}

.nav_service_dd a.active, .nav_service_dd a:hover {border: 1px solid #ddd;}

.list_item .nothi_number span {margin-left: 10px;}

.grid_items {display: none}

.email-app nav .nav-item.active a {background: #eee;}

.mx-w-100 {max-width: 100px;}

.modal-xl {max-width: 1000px;}

.custom-file-input ~ .custom-file-label::after {
  content: "ব্রাউজ";
}

/*datatable*/
/*.datatable tr td:last-child button.btn{opacity: .1;transition: all .3s;}
.datatable tr:hover td:last-child button.btn{visibility: visible;opacity: 1;}*/
.datatable-scroll table.dataTable {margin: 0 !important;}

.datatable-scroll label { margin: 0;}
.datatable-scroll .select2-container{width: auto!important;}