@font-face{
  font-family:"SolaimanLipi";
  src:url("../fonts/SolaimanLipi.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

body, .tooltip, .bn{
  font-family:SolaimanLipi, Arial, sans-serif;
}

img{
  max-width:100%;
  height:auto;
}

body.login{
  background-image:url(../images/bg_image.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  background-color:#cde7a8;
  background-repeat:no-repeat;
}

.btn:focus, .btn.focus{
  box-shadow:0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.label-100{
  width:100px;
}

.bg-primary-tr{
  background-color:rgba(75, 141, 248, .8)
}

.bg-info-tr{
  background-color:rgba(99, 194, 222, .8)
}

.bg-dark-tr{
  background-color:rgba(0, 0, 0, .8)
}

.bg-light-tr{
  background-color:rgba(255, 255, 255, .8)
}

.dropdown-item img{
  display:inline-block;
  width:20px;
  margin-right:10px;
  margin-left:-10px;
  color:#73818f;
  text-align:center;
}

.nothi-dropdown .dropdown-item{
  border-bottom:none;
  padding:2px 15px;
}

.login-form{
  width:350px;
}

.login-form .hidden{
  display:none;
}

.login-form .alert{
  display:none;
}

.partners{
  position:absolute;
  bottom:0;
  padding:5px;
  width:100%;
  left:0;
}

.main .container-fluid{
  padding:0 15px;
}

.text-violate{
  color:#68328f !important;
}

.bg-violate{
  background-color:#68328f !important;
}

.text-green{
  color:#80b441 !important;
}

.bg-green{
  background-color:#80b441 !important;
}

.text-yellow{
  color:#ffc107 !important;
}

.bg-yellow{
  background-color:#ffc107 !important;
}

.btn-green{
  color:#ffffff;
  background-color:#80b441;
  border-color:#80b441;
}

.btn-green:hover{
  color:#ffffff;
  background-color:#589113;
  border-color:#589113;
}

.btn-violate{
  color:#ffffff;
  background-color:#68328f;
  border-color:#68328f;
}

.btn-violate:hover{
  color:#ffffff;
  background-color:#5f2d82;
  border-color:#5f2d82;
}

.btn-yellow{
  color:#ffffff;
  background-color:#ffc107;
  border-color:#ffc107;
}

.btn-yellow:hover{
  color:#ffffff;
  background-color:#f4da00;
  border-color:#f4da00;
}

.badge-off-white{
  color:#23282c;
  background-color:#fff5d9;
}

/*btn*/
.btn-green-o{
  color:#589113;
  background-color:transparent;
  border-color:transparent;
}

.btn-green-o:hover{
  color:#ffffff;
  background-color:#589113;
  border-color:#589113;
}

.btn-violate-o{
  color:#5f2d82;
  background-color:transparent;
  border-color:transparent;
}

.btn-violate-o:hover{
  color:#ffffff;
  background-color:#5f2d82;
  border-color:#5f2d82;
}

.btn-yellow-o{
  color:#ffc107;
  background-color:transparent;
  border-color:transparent;
}

.btn-yellow-o:hover{
  color:#ffffff;
  background-color:#f4da00;
  border-color:#f4da00;
}

.btn-danger-o{
  color:#f86c6b;
  background-color:transparent;
  border-color:transparent;
}

.btn-danger-o:hover{
  color:#ffffff;
  background-color:#f86c6b;
  border-color:#f86c6b;
}

.btn-light-o{
  color:#aaaaaa;
  background-color:transparent;
  border-color:transparent;
}

.btn-light-o:hover{
  color:#ffffff;
  background-color:#aaaaaa;
  border-color:#aaaaaa;
}

.btn-dark-o{
  color:#555555;
  background-color:transparent;
  border-color:transparent;
}

.btn-dark-o:hover{
  border-color:#555555;
}

.zindex{
  z-index:999;
}

.form-control:focus{
  box-shadow:0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus,
.btn-light:focus, .btn-light.focus{
  box-shadow:0 0 0.2rem rgba(240, 243, 245, 0.5);
}

.search-user-designation{
  background-color:#ffffff;
}

.collapse-custom{
  display:none;
}

.collapse-custom .select2-container{
  border-bottom:1px solid #e4e7ea;
  width:100% !important;
}

.collapse-custom .select2-container--default .select2-selection--single{
  border:none;
}

.select2-container .select2-selection--single{
  height:26px;
}

.email-app nav .nav-link img, .email-app nav .nav-link object, .email-app nav .nav-link svg{
  width:16px;
  height:auto;
  margin:0 14px 0 0;
  font-size:14px;
  text-align:center;
  vertical-align:middle;
}

.nav-link img{
  height:40px;
}

.nav-child.nav{
  padding-left:5px;
  display:none;
}

.has-child *{
  transition:none;
}

.has-child i.toggler{
  position:absolute;
  left:-10px;
  padding:13px 10px;
  cursor:pointer;
}

.email-app nav{
  flex:0 0 250px;
}

.email-app .inbox .toolbar{
  border-bottom:none;
}

.email-app .tab-content{
  border-left:none;
  border-right:none;
  border-bottom:0;
}

.email-app .tab-content .tab-pane{
  padding:0;
}

.email-app .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
  background-color:#23282c;
}

.email-app .btn-group object{
  vertical-align:middle;
  cursor:pointer;
}

.email-app .custom-control-label::after,
.email-app .custom-control-label::before{
  top:-10px;
  left:-25px;
}

.email-app .inbox .message .header{
  margin-bottom:0;
}

.email-app .nav-item option path{
  fill:#6d3993;
}

.fill-violate path{
  fill:#6d3993 !important;
}

.fill-yellow path{
  fill:#ffc107 !important;
}

.fill-light path{
  fill:#cccccc !important;
}

.daak-inbox-tab .nav-item object{
  height:16px;
  vertical-align:middle;
}

.fs-20{
  font-size:20px;
}

.fs-18{
  font-size:18px;
}

.fs-16{
  font-size:16px;
}

.fs-14{
  font-size:14px;
}

.fs-12{
  font-size:12px;
}

.email-app .inbox .message.read{
  background-color:#87d0df17;
}

.email-app .inbox .message:hover{
  box-shadow:0 0 10px 0 #dddddd;
  border-bottom-color:transparent;
}

.email-app .inbox .message:hover:not(.read){
  background:transparent;
}

.email-app .action-group{
  visibility:hidden;
  transition:all .3s;
  opacity:0;
}

.email-app .message .action-group{
  visibility:visible;
  opacity:1;
}

.email-app .inbox .message:hover .action-group{
  visibility:visible;
  opacity:1;
}

.attach{
  width:180px;
  height:120px;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  border:1px solid #eeeeee;
  margin-bottom:15px;
  margin-right:15px;
  position:relative;
}

.attach_preview{
}

.title-caption{
  padding:5px 10px;
  border-top:1px solid #eeeeee;
}

.attach.image .attach_download{
  background-color:#00000050;
  color:#ffffff;
}

.attach_download{
  background-color:#eeeeee;
  position:absolute;
  top:0;
  visibility:hidden;
  opacity:0;
  left:0;
  width:100%;
  height:100%;
  color:#777777;
  padding:10px;
  transition:all .2s;
}

.attach:hover .attach_download{
  visibility:visible;
  opacity:1;
}

.attach_download obj_icon{
  padding-right:4px;
}

.name_size p{
  line-height:1.2;
  margin-bottom:5px;
  max-height:34px;
  overflow:hidden;
}

.download_link a.btn{
  position:relative;
  z-index:99;
}

.download_link a.fencybox{
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  z-index:9;
}

.email-app .message .details .header .from span{
  display:inline-block;
}

.daak_sender_info{
  position:absolute;
  width:350px;
  padding:10px;
  border:1px solid #dddddd;
  background:#ffffff;
  left:0;
  top:calc(100% + 10px);
  display:none;
}

.daak_sender{
  position:relative;
}

span.daak_sender_btn{
  width:14px;
  height:14px;
  line-height:1;
  transition:all .2s;
  cursor:pointer;
  padding:2px;
  text-align:center;
  vertical-align:middle;
  border-radius:3px;
}

span.daak_sender_btn:hover{
  background-color:#555555;
  color:#ffffff;
}

.email-app .nav-dropdown .dropdown-item{
  background-color:#f0f3f570;
}

.email-app .nav-dropdown .dropdown-item:focus, .email-app .nav-dropdown .dropdown-item:hover{
  background-color:#f0f3f5;
}

.email-app .nav-dropdown .dropdown-toggle:after{
  display:none;
}

.heading-1{
  font-size:1.5rem;
  font-weight:300;
  line-height:1.2;
}

.heading-2{
  font-size:1rem;
  font-weight:300;
  line-height:1.2;
}

.sender_list li{}

.list_button .badge{font-weight:100;cursor:pointer;}

.list_button .btn, .list_button .badge{display:none;}

.sender_list li:hover .list_button .btn{display:inline-block;}

.sender_list.main_selected .btn_main{display:none !important;}

.sender_list.main_selected .has_main .btn{display:none !important;}

.sender_list.main_selected .has_main .badge.label_main{display:block !important;}

.sender_list .has_copy .btn{display:none !important;}

.sender_list .has_copy .badge.label_copy{display:block !important;}

.popup_input{position:fixed;top:0;border:1px solid transparent;font-size:20px;width:100%;left:0;z-index:999;background-color:#000000ee;height:100%;display:flex;align-items:center;justify-content:center;padding:0 20%;}

.popup_input input{padding:10px 20px;width:100%;margin-top:-100px;}

.popup_input.hide{display:none;}

.daptorik_2{display:none;}

.daptorik_back{display:none;}

.daptorik_save{display:none;}

.form-section{margin-bottom:20px;}

.upload_gallery div.d-flex > div{width:114px;height:96px;display:flex;justify-content:center;align-items:center;border:1px solid #dddddd;margin-right:5px;margin-bottom:5px;position:relative;overflow:hidden;}

.upload_gallery div.d-flex > div i.fa{font-size:48px;}

.upload_gallery div.d-flex > div img{min-height:100%;max-height:100%;max-width:unset}

.upload_gallery i.fa-close{
  font-size:10px !important;
  position:absolute;
  top:0px;
  right:0px;
  padding:5px;
  cursor:pointer;
  visibility:hidden;
  opacity:0;
  transition:all .3s;
}

.upload_gallery i.fa-close:hover{
  background-color:#eeeeee;
}

.upload_gallery .up_item:hover i.fa-close{
  visibility:visible;
  opacity:1;
}

.upload_gallery i.fa-close:focus, .upload_gallery i.fa-close:active{
  background-color:#dddddd;
}

.badge-pill{
  border-radius:0;
}

.input-group > .custom-file:not(:last-child) .custom-file-label, .input-group > .custom-file:not(:last-child) .custom-file-label::after,
.form-control,
.list-group-item:first-child,
.list-group-item:last-child,
.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child),
.badge,.dropdown-menu,
.nav-tabs .nav-link,
.select2-container--open .select2-dropdown--below,
.btn{border-radius:0;}

.dropdown-menu{margin:0;}
.toolbar-left button{margin-right:5px;}
.content img{max-width: 100%;margin-bottom: 20px;}
.content iframe,.content object{max-width: 100%;min-height: 500px;margin-bottom: 20px;min-width: 900px;}

.check-default .custom-control-label::before,.check-default .custom-control-label::after{top: .10rem!important;}