<div class="pScroll">
  <main class="message p-5">
    <h3 class="mb-4"> নথি ব্যবস্থাপনা</h3>

    <div class="daptorik_1">

      <div class="daptorik_sender">
        <div class="search_sender mb-5">
          <h5>প্রাপক খুঁজুন</h5>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="প্রাপক..." id="prapok_search_list"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu pScroll ps" aria-labelledby="prapok_search_list">
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>মুহাম্মদ ইউনুস আলী সরদার</h5>
                  <small>টেকনোলজি এক্সপার্ট, ই-সার্ভিস</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>এরশাদুল হামিদ পাভেল</h5>
                  <small>কমিউনিকেশন এসোসিয়েট, কমিউনিকেশন ও পার্টনারশীপ</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>কবির বিন আনোয়ার</h5>
                  <small>প্রকল্প পরিচালক, প্রকল্প পরিচালকের দপ্তর</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>নাইমুজ্জামান মুক্তা</h5>
                  <small>লোকাল ডেভেলপমেন্ট স্পেশালিস্ট, কমিউনিকেশন ও পার্টনারশীপ</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>জালাল উদ্দিন আহমেদ</h5>
                  <small>এডমিন স্পেশালিস্ট, এডমিন</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>মুহাম্মদ ইউনুস আলী সরদার</h5>
                  <small>টেকনোলজি এক্সপার্ট, ই-সার্ভিস</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>এরশাদুল হামিদ পাভেল</h5>
                  <small>কমিউনিকেশন এসোসিয়েট, কমিউনিকেশন ও পার্টনারশীপ</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>কবির বিন আনোয়ার</h5>
                  <small>প্রকল্প পরিচালক, প্রকল্প পরিচালকের দপ্তর</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>নাইমুজ্জামান মুক্তা</h5>
                  <small>লোকাল ডেভেলপমেন্ট স্পেশালিস্ট, কমিউনিকেশন ও পার্টনারশীপ</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>জালাল উদ্দিন আহমেদ</h5>
                  <small>এডমিন স্পেশালিস্ট, এডমিন</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>মুহাম্মদ ইউনুস আলী সরদার</h5>
                  <small>টেকনোলজি এক্সপার্ট, ই-সার্ভিস</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>এরশাদুল হামিদ পাভেল</h5>
                  <small>কমিউনিকেশন এসোসিয়েট, কমিউনিকেশন ও পার্টনারশীপ</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>কবির বিন আনোয়ার</h5>
                  <small>প্রকল্প পরিচালক, প্রকল্প পরিচালকের দপ্তর</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>নাইমুজ্জামান মুক্তা</h5>
                  <small>লোকাল ডেভেলপমেন্ট স্পেশালিস্ট, কমিউনিকেশন ও পার্টনারশীপ</small>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-start" href="#">
                <img src="images/profils.jpg" alt="profile">
                <div>
                  <h5>জালাল উদ্দিন আহমেদ</h5>
                  <small>এডমিন স্পেশালিস্ট, এডমিন</small>
                </div>
              </a>
              <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
              </div>
              <div class="ps__rail-y" style="top: 0px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
              </div>
            </div>

            <div class="input-group-append">
              <div class="hide">
                <select name="" id="" class="select2 select2-hidden-accessible" data-select2-id="9" tabindex="-1"
                        aria-hidden="true">
                  <option value="" data-select2-id="11">মন্ত্রণালয়/বিভাগ</option>
                  <option value="">রাষ্ট্রপতির কার্যালয়</option>
                  <option value="">প্রধানমন্ত্রীর কার্যালয়</option>
                  <option value="">মন্ত্রিপরিষদ বিভাগ</option>
                  <option value="">জনপ্রশাসন মন্ত্রণালয়</option>
                  <option value="">সশস্র বাহিনী বিভাগ</option>
                  <option value="">অর্থ মন্ত্রণালয়</option>
                  <option value="">আইন, বিচার ও সংসদ বিষয়ক মন্ত্রণালয়</option>
                  <option value="">কৃষি মন্ত্রণালয়</option>
                  <option value="">খাদ্য মন্ত্রণালয়</option>
                  <option value="">ডাক, টেলিযোগাযোগ ও তথ্যপ্রযুক্তি মন্ত্রণালয়</option>
                  <option value="">তথ্য মন্ত্রণালয়</option>
                  <option value="">ধর্ম বিষয়ক মন্ত্রণালয়</option>
                  <option value="">নির্বাচন কমিশন সচিবালয়</option>
                  <option value="">নৌ-পরিবহন মন্ত্রণালয়</option>
                  <option value="">পররাষ্ট্র মন্ত্রণালয়</option>
                  <option value="">পরিকল্পনা মন্ত্রণালয়</option>
                  <option value="">পরিবেশ ও বন মন্ত্রণালয়</option>
                  <option value="">প্রতিরক্ষা মন্ত্রণালয়</option>
                  <option value="">বস্ত্র ও পাট মন্ত্রণালয়</option>
                  <option value="">গৃহায়ন ও গণপূর্ত মন্ত্রণালয়</option>
                  <option value="">বাণিজ্য মন্ত্রণালয়</option>
                  <option value="">বিদ্যুৎ জ্বালানি ও খনিজ সম্পদ মন্ত্রণালয়</option>
                  <option value="">পার্বত্য চট্টগ্রাম বিষয়ক মন্ত্রণালয়</option>
                  <option value="">বেসামরিক বিমান পরিবহন ও পর্যটন মন্ত্রণালয়</option>
                  <option value="">ভূমি মন্ত্রণালয়</option>
                  <option value="">মহিলা ও শিশু বিষয়ক মন্ত্রণালয়</option>
                  <option value="">মৎস্য ও প্রাণিসম্পদ মন্ত্রণালয়</option>
                  <option value="">যুব ও ক্রীড়া মন্ত্রণালয়</option>
                  <option value="">যোগাযোগ মন্ত্রণালয়</option>
                  <option value="">শিল্প মন্ত্রণালয়</option>
                  <option value="">শিক্ষা মন্ত্রণালয়</option>
                  <option value="">প্রাথমিক ও গণশিক্ষা মন্ত্রণালয়</option>
                  <option value="">বিজ্ঞান ও প্রযুক্তি মন্ত্রণালয়</option>
                  <option value="">শ্রম ও কর্মসংস্থান মন্ত্রণালয়</option>
                  <option value="">সমাজকল্যাণ মন্ত্রণালয়</option>
                  <option value="">পানি সম্পদ মন্ত্রণালয়</option>
                  <option value="">সংস্কৃতি বিষয়ক মন্ত্রণালয়</option>
                  <option value="">স্বরাষ্ট্র মন্ত্রণালয়</option>
                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                               data-select2-id="10" style="width: auto;"><span class="selection"><span
                  class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                  aria-expanded="false" tabindex="0" aria-labelledby="select2--container"><span
                  class="select2-selection__rendered" id="select2--container" role="textbox" aria-readonly="true"
                  title="মন্ত্রণালয়/বিভাগ">মন্ত্রণালয়/বিভাগ</span><span class="select2-selection__arrow"
                                                                          role="presentation"><b
                  role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              </div>
              <div class="hide">
                <select name="" id="" class="select2 select2-hidden-accessible" data-select2-id="12" tabindex="-1"
                        aria-hidden="true">
                  <option value="" data-select2-id="14">কার্যালয়</option>
                  <option value="">বাংলাদেশ অর্থনৈতিক অঞ্চল কর্তৃপক্ষ</option>
                  <option value="">বাংলাদেশ রপ্তানী প্রক্রিয়াকরণ এলাকা কর্তৃপক্ষ</option>
                  <option value="">পাবলিক প্রাইভেট পার্টনারশীপ কর্তৃপক্ষ</option>
                  <option value="">এনজিও বিষয়ক ব্যুরো</option>
                  <option value="">প্রধানমন্ত্রীর কার্যালয়</option>
                  <option value="">আশ্রয়ণ প্রকল্প</option>
                  <option value="">এ্যাকসেস টু ইনফরমেশন (এটু্আই) প্রোগ্রাম</option>
                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                               data-select2-id="13" style="width: auto;"><span class="selection"><span
                  class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                  aria-expanded="false" tabindex="0" aria-labelledby="select2--container"><span
                  class="select2-selection__rendered" id="select2--container" role="textbox" aria-readonly="true"
                  title="কার্যালয়">কার্যালয়</span><span class="select2-selection__arrow" role="presentation"><b
                  role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              </div>
              <div class="hide">
                <select name="" id="" class="select2 select2-hidden-accessible" data-select2-id="15" tabindex="-1"
                        aria-hidden="true">
                  <option value="" data-select2-id="17">দপ্তর/শাখা</option>
                  <option value="">প্রকল্প পরিচালকের দপ্তর</option>
                  <option value="">পলিসি অ্যাডভাইজর</option>
                  <option value="">ইনোভেশন</option>
                  <option value="">ই-সার্ভিস</option>
                  <option value="">মনিটরিং এ্যান্ড ইভালুয়েশন</option>
                  <option value="">এডমিন</option>
                  <option value="">এডুকেশন</option>
                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                               data-select2-id="16" style="width: auto;"><span class="selection"><span
                  class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                  aria-expanded="false" tabindex="0" aria-labelledby="select2--container"><span
                  class="select2-selection__rendered" id="select2--container" role="textbox" aria-readonly="true"
                  title="দপ্তর/শাখা">দপ্তর/শাখা</span><span class="select2-selection__arrow" role="presentation"><b
                  role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              </div>
              <div class="hide">
                <select name="" id="" class="select2 select2-hidden-accessible" data-select2-id="18" tabindex="-1"
                        aria-hidden="true">
                  <option value="" data-select2-id="20">পদ</option>
                  <option value="">প্রকল্প পরিচালক</option>
                  <option value="">পলিসি অ্যাডভাইজর</option>
                  <option value="">পলিসি এসোসিয়েট</option>
                  <option value="">ইনোভেশন স্পেশালিস্ট</option>
                  <option value="">পরিচালক</option>
                  <option value="">আইটি ম্যানেজার</option>
                  <option value="">ইনোভেশন এক্সপার্ট</option>
                  <option value="">ইনোভেশন ফান্ড এসোসিয়েট</option>
                </select><span class="select2 select2-container select2-container--default" dir="ltr"
                               data-select2-id="19" style="width: auto;"><span class="selection"><span
                  class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                  aria-expanded="false" tabindex="0" aria-labelledby="select2--container"><span
                  class="select2-selection__rendered" id="select2--container" role="textbox" aria-readonly="true"
                  title="পদ">পদ</span><span class="select2-selection__arrow" role="presentation"><b
                  role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              </div>
              <button class="input-group-text hide" id="adv_search_cancel"><i class="fa fa-close"></i></button>
              <button class="input-group-text" id="adv_search"><i class="fa fa-search mr-2"></i> বিস্তারিত</button>
            </div>

          </div>
        </div>

        <h5 class="mb-3">প্রাপক </h5>
        <div class="sender_list">
          <ul class="list-group">
            <li class="list-group-item d-flex align-items-center justify-content-between">
              <div class="list_content d-flex align-items-center">
                <img class="rounded-circle border" src="images/profils.jpg" width="48" height="48">
                <div class="pl-3">
                  <p class="mb-0">মুহাম্মদ ইউনুস আলী সরদার</p>
                  <small>টেকনোলজি এক্সপার্ট, ই-সার্ভিস</small>
                </div>
              </div>

              <div class="list_button">
                <button class="btn btn-primary btn_edit">
                  <i class="fa fa-edit mr-1"></i> সম্পাদনা
                </button>
                <button class="btn btn-danger btn_remove">
                  <i class="fa fa-trash-o mr-1"></i> মুছে ফেলুন
                </button>
              </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
              <div class="list_content d-flex align-items-center">
                <img class="rounded-circle border" src="images/profils.jpg" width="48" height="48">
                <div class="pl-3">
                  <p class="mb-0">এরশাদুল হামিদ পাভেল</p>
                  <small>কমিউনিকেশন এসোসিয়েট, কমিউনিকেশন ও পার্টনারশীপ</small>
                </div>
              </div>

              <div class="list_button">
                <button class="btn btn-primary btn_edit">
                  <i class="fa fa-edit mr-1"></i> সম্পাদনা
                </button>
                <button class="btn btn-danger btn_remove">
                  <i class="fa fa-trash-o mr-1"></i> মুছে ফেলুন
                </button>
              </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
              <div class="list_content d-flex align-items-center">
                <img class="rounded-circle border" src="images/kabir.jpg" width="48" height="48">
                <div class="pl-3">
                  <p class="mb-0">কবির বিন আনোয়ার</p>
                  <small>প্রকল্প পরিচালক, প্রকল্প পরিচালকের দপ্তর</small>
                </div>
              </div>

              <div class="list_button">
                <button class="btn btn-primary btn_edit">
                  <i class="fa fa-edit mr-1"></i> সম্পাদনা
                </button>
                <button class="btn btn-danger btn_remove">
                  <i class="fa fa-trash-o mr-1"></i> মুছে ফেলুন
                </button>
              </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
              <div class="list_content d-flex align-items-center">
                <img class="rounded-circle border" src="images/mukta.jpg" width="48" height="48">
                <div class="pl-3">
                  <p class="mb-0">নাইমুজ্জামান মুক্তা</p>
                  <small>লোকাল ডেভেলপমেন্ট স্পেশালিস্ট, কমিউনিকেশন ও
                    পার্টনারশীপ
                  </small>
                </div>
              </div>

              <div class="list_button">
                <button class="btn btn-primary btn_edit">
                  <i class="fa fa-edit mr-1"></i> সম্পাদনা
                </button>
                <button class="btn btn-danger btn_remove">
                  <i class="fa fa-trash-o mr-1"></i> মুছে ফেলুন
                </button>
              </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
              <div class="list_content d-flex align-items-center">
                <img class="rounded-circle border" src="images/profils.jpg" width="48" height="48">
                <div class="pl-3">
                  <p class="mb-0">জালাল উদ্দিন আহমেদ </p>
                  <small>এডমিন স্পেশালিস্ট, এডমিন</small>
                </div>
              </div>

              <div class="list_button">
                <button class="btn btn-primary btn_edit">
                  <i class="fa fa-edit mr-1"></i> সম্পাদনা
                </button>
                <button class="btn btn-danger btn_remove">
                  <i class="fa fa-trash-o mr-1"></i> মুছে ফেলুন
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </main>
</div>